openapi: 3.0.0
info:
  title: Square
  description: Use Square APIs to manage and run business including payment, customer,
    product, inventory, and employee management.
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    url: https://squareup.com/developers
    email: developers@squareup.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "2.0"
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
      - name: production
        servers:
          - name: default
            url: https://connect.squareup.com
      - name: sandbox
        servers:
          - name: default
            url: https://connect.squareupsandbox.com
      - name: custom
        servers:
          - name: default
            url: '{custom_url}'
    parameters:
      - name: custom_url
        description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
        type: string
        example: https://connect.squareup.com
  x-square-generic-error-codes:
    - ACCESS_TOKEN_EXPIRED
    - ACCESS_TOKEN_REVOKED
    - API_VERSION_INCOMPATIBLE
    - APPLICATION_DISABLED
    - ARRAY_EMPTY
    - ARRAY_LENGTH_TOO_LONG
    - ARRAY_LENGTH_TOO_SHORT
    - BAD_CERTIFICATE
    - BAD_GATEWAY
    - BAD_REQUEST
    - CONFLICT
    - CONFLICTING_PARAMETERS
    - CURRENCY_MISMATCH
    - EXPECTED_ARRAY
    - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
    - EXPECTED_BOOLEAN
    - EXPECTED_FLOAT
    - EXPECTED_INTEGER
    - EXPECTED_JSON_BODY
    - EXPECTED_MAP
    - EXPECTED_OBJECT
    - EXPECTED_STRING
    - FORBIDDEN
    - GATEWAY_TIMEOUT
    - GONE
    - IDEMPOTENCY_KEY_REUSED
    - INCORRECT_TYPE
    - INSUFFICIENT_SCOPES
    - INTERNAL_SERVER_ERROR
    - INVALID_ARRAY_VALUE
    - INVALID_CONTENT_TYPE
    - INVALID_CURSOR
    - INVALID_ENUM_VALUE
    - INVALID_FORM_VALUE
    - INVALID_SORT_ORDER
    - INVALID_SQUARE_VERSION_FORMAT
    - INVALID_TIME
    - INVALID_TIME_RANGE
    - INVALID_VALUE
    - LOCATION_MISMATCH
    - MAP_KEY_LENGTH_TOO_LONG
    - MAP_KEY_LENGTH_TOO_SHORT
    - MERCHANT_SUBSCRIPTION_NOT_FOUND
    - METHOD_NOT_ALLOWED
    - MISSING_REQUIRED_PARAMETER
    - NOT_ACCEPTABLE
    - NOT_FOUND
    - NOT_IMPLEMENTED
    - NO_FIELDS_SET
    - RATE_LIMITED
    - REQUEST_ENTITY_TOO_LARGE
    - REQUEST_TIMEOUT
    - SANDBOX_NOT_SUPPORTED
    - SERVICE_UNAVAILABLE
    - TOO_MANY_MAP_ENTRIES
    - UNAUTHORIZED
    - UNEXPECTED_VALUE
    - UNKNOWN_BODY_PARAMETER
    - UNKNOWN_QUERY_PARAMETER
    - UNPROCESSABLE_ENTITY
    - UNSUPPORTED_MEDIA_TYPE
    - V1_ACCESS_TOKEN
    - V1_APPLICATION
    - VALUE_EMPTY
    - VALUE_REGEX_MISMATCH
    - VALUE_TOO_HIGH
    - VALUE_TOO_LONG
    - VALUE_TOO_LOW
    - VALUE_TOO_SHORT
servers:
  - url: https://connect.squareup.com
paths:
  /v2/orders/search:
    post:
      tags:
        - Orders
      summary: SearchOrders
      description: |-
        Search all orders for one or more locations. Orders include all sales,
        returns, and exchanges regardless of how or when they entered the Square
        ecosystem (such as Point of Sale, Invoices, and Connect APIs).

        `SearchOrders` requests need to specify which locations to search and define a
        [SearchOrdersQuery](entity:SearchOrdersQuery) object that controls
        how to sort or filter the results. Your `SearchOrdersQuery` can:

          Set filter criteria.
          Set the sort order.
          Determine whether to return results as complete `Order` objects or as
        [OrderEntry](entity:OrderEntry) objects.

        Note that details for orders processed with Square Point of Sale while in
        offline mode might not be transmitted to Square for up to 72 hours. Offline
        orders have a `created_at` value that reflects the time the order was created,
        not the time it was subsequently transmitted to Square.
      externalDocs:
        description: Search orders
        url: https://developer.squareup.com/docs/orders-api/manage-orders#search-orders
      operationId: SearchOrders
      parameters: [ ]
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchOrdersRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchOrdersResponse'
      security:
        - oauth2:
            - ORDERS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
  /v2/orders:
    post:
      tags:
        - Orders
      summary: CreateOrder
      description: "Creates a new [order](entity:Order) that can include information\
          \ about products for\npurchase and settings to apply to the purchase.\n\n\
          To pay for a created order, see \n[Pay for Orders](https://developer.squareup.com/docs/orders-api/pay-for-orders).\n\
          \nYou can modify open orders using the [UpdateOrder](api-endpoint:Orders-UpdateOrder)\
          \ endpoint."
      externalDocs:
        description: Create Orders
        url: https://developer.squareup.com/docs/orders-api/create-orders
      operationId: CreateOrder
      parameters: [ ]
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
      security:
        - oauth2:
            - ORDERS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
  /v2/orders/{order_id}:
    get:
      tags:
        - Orders
      summary: RetrieveOrder
      description: Retrieves an [Order](entity:Order) by ID.
      operationId: RetrieveOrder
      parameters:
        - name: order_id
          in: path
          description: The ID of the order to retrieve.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveOrderResponse'
      security:
        - oauth2:
            - ORDERS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
    put:
      tags:
        - Orders
      summary: UpdateOrder
      description: "Updates an open [order](entity:Order) by adding, replacing, or\
          \ deleting\nfields. Orders with a `COMPLETED` or `CANCELED` state cannot be\
          \ updated.\n\nAn `UpdateOrder` request requires the following:\n\n- The `order_id`\
          \ in the endpoint path, identifying the order to update.\n- The latest `version`\
          \ of the order to update.\n- The [sparse order](https://developer.squareup.com/docs/orders-api/manage-orders/update-orders#sparse-order-objects)\n\
          containing only the fields to update and the version to which the update is\n\
          being applied.\n- If deleting fields, the [dot notation paths](https://developer.squareup.com/docs/orders-api/manage-orders#on-dot-notation)\n\
          identifying the fields to clear.\n\nTo pay for an order, see \n[Pay for Orders](https://developer.squareup.com/docs/orders-api/pay-for-orders)."
      externalDocs:
        description: Update orders
        url: https://developer.squareup.com/docs/orders-api/manage-orders#update-orders
      operationId: UpdateOrder
      parameters:
        - name: order_id
          in: path
          description: The ID of the order to update.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderResponse'
      security:
        - oauth2:
            - ORDERS_WRITE
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-is-sparse-update: true
  /v2/payouts:
    get:
      tags:
        - Payouts
      summary: ListPayouts
      description: "Retrieves a list of all payouts for the default location. \nYou\
          \ can filter payouts by location ID, status, time range, and order them in\
          \ ascending or descending order. \nTo call this endpoint, set `PAYOUTS_READ`\
          \ for the OAuth scope."
      externalDocs:
        description: Payouts Guide
        url: https://developer.squareup.com/docs/payouts-api/overview#list-payouts
      operationId: ListPayouts
      parameters:
        - name: location_id
          in: query
          description: "The ID of the location for which to list the payouts. \nBy default,\
            \ payouts are returned for the default (main) location associated with the\
            \ seller."
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: status
          in: query
          description: If provided, only payouts with the given status are returned.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/PayoutStatus'
        - name: begin_time
          in: query
          description: |-
            The timestamp for the beginning of the payout creation time, in RFC 3339 format.
            Inclusive. Default: The current time minus one year.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: end_time
          in: query
          description: |-
            The timestamp for the end of the payout creation time, in RFC 3339 format.
            Default: The current time.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort_order
          in: query
          description: The order in which payouts are listed.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/SortOrder'
        - name: cursor
          in: query
          description: |-
            A pagination cursor returned by a previous call to this endpoint.
            Provide this cursor to retrieve the next set of results for the original query.
            For more information, see [Pagination](https://developer.squareup.com/docs/basics/api101/pagination).
            If request parameters change between requests, subsequent results may contain duplicates or missing records.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: |-
            The maximum number of results to be returned in a single page.
            It is possible to receive fewer results than the specified limit on a given page.
            The default value of 100 is also the maximum allowed value. If the provided value is
            greater than 100, it is ignored and the default value is used instead.
            Default: `100`
          required: false
          style: form
          explode: true
          schema:
            type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPayoutsResponse'
      security:
        - oauth2: [ ]
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /payouts/payouts-proto/src/main/proto/squareup/payouts/service.proto
      x-proto-sha: 63e5a6095134dbb40e75b7c133622fb29aa6e1e2
  /v2/payouts/{payout_id}:
    get:
      tags:
        - Payouts
      summary: GetPayout
      description: "Retrieves details of a specific payout identified by a payout\
        \ ID. \nTo call this endpoint, set `PAYOUTS_READ` for the OAuth scope."
      externalDocs:
        description: Payouts Guide
        url: https://developer.squareup.com/docs/payouts-api/overview#get-payout
      operationId: GetPayout
      parameters:
        - name: payout_id
          in: path
          description: The ID of the payout to retrieve the information for.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPayoutResponse'
      security:
        - oauth2: [ ]
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /payouts/payouts-proto/src/main/proto/squareup/payouts/service.proto
      x-proto-sha: 63e5a6095134dbb40e75b7c133622fb29aa6e1e2
  /v2/refunds:
    get:
      tags:
        - Refunds
      summary: ListPaymentRefunds
      description: |-
        Retrieves a list of refunds for the account making the request.
        
        Results are eventually consistent, and new refunds or changes to refunds might take several
        seconds to appear.
        
        The maximum results per page is 100.
      externalDocs:
        description: Retrieve Payments and Refunds
        url: https://developer.squareup.com/docs/payments-api/retrieve-payments
      operationId: ListPaymentRefunds
      parameters:
        - name: begin_time
          in: query
          description: |-
            The timestamp for the beginning of the requested reporting period, in RFC 3339 format.

            Default: The current time minus one year.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: end_time
          in: query
          description: |-
            The timestamp for the end of the requested reporting period, in RFC 3339 format.

            Default: The current time.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort_order
          in: query
          description: |-
            The order in which results are listed:
            - `ASC` - Oldest to newest.
            - `DESC` - Newest to oldest (default).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: cursor
          in: query
          description: |-
            A pagination cursor returned by a previous call to this endpoint.
            Provide this cursor to retrieve the next set of results for the original query.

            For more information, see [Pagination](https://developer.squareup.com/docs/basics/api101/pagination).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: location_id
          in: query
          description: |-
            Limit results to the location supplied. By default, results are returned
            for all locations associated with the seller.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: status
          in: query
          description: |-
            If provided, only refunds with the given status are returned.
            For a list of refund status values, see [PaymentRefund](entity:PaymentRefund).

            Default: If omitted, refunds are returned regardless of their status.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: source_type
          in: query
          description: |-
            If provided, only returns refunds whose payments have the indicated source type.
            Current values include `CARD`, `BANK_ACCOUNT`, `WALLET`, `CASH`, and `EXTERNAL`.
            For information about these payment source types, see
            [Take Payments](https://developer.squareup.com/docs/payments-api/take-payments).

            Default: If omitted, refunds are returned regardless of the source type.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: |-
            The maximum number of results to be returned in a single page.

            It is possible to receive fewer results than the specified limit on a given page.

            If the supplied value is greater than 100, no more than 100 results are returned.

            Default: 100
          required: false
          style: form
          explode: true
          schema:
            type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentRefundsResponse'
      security:
        - oauth2:
            - PAYMENTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_service.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
    post:
      tags:
        - Refunds
      summary: RefundPayment
      description: "Refunds a payment. You can refund the entire payment amount or\
          \ a\nportion of it. You can use this endpoint to refund a card payment or\
          \ record a \nrefund of a cash or external payment. For more information, see\n\
          [Refund Payment](https://developer.squareup.com/docs/payments-api/refund-payments)."
      externalDocs:
        description: Refund a payment
        url: https://developer.squareup.com/docs/payments-api/refund-payments#refund-a-payment
      operationId: RefundPayment
      parameters: [ ]
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaymentResponse'
      security:
        - oauth2:
            - PAYMENTS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_service.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-endpoint-errors:
        - error-code: AMOUNT_TOO_HIGH
        - error-code: CARD_TOKEN_USED
        - error-code: INVALID_CARD
        - error-code: INVALID_CARD_DATA
        - error-code: PAYMENT_NOT_REFUNDABLE
        - error-code: REFUND_AMOUNT_INVALID
        - error-code: REFUND_DECLINED
        - error-code: VERSION_MISMATCH
  /v2/refunds/{refund_id}:
    get:
      tags:
        - Refunds
      summary: GetPaymentRefund
      description: Retrieves a specific refund using the `refund_id`.
      externalDocs:
        description: Retrieve refund information
        url: https://developer.squareup.com/docs/payments-api/refund-payments#retrieve-refund-information
      operationId: GetPaymentRefund
      parameters:
        - name: refund_id
          in: path
          description: The unique ID for the desired `PaymentRefund`.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentRefundResponse'
      security:
        - oauth2:
            - PAYMENTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_service.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
  /v2/merchants/{merchant_id}:
    get:
      tags:
        - Merchants
      summary: RetrieveMerchant
      description: Retrieves the `Merchant` object for the given `merchant_id`.
      externalDocs:
        description: Merchants API Overview
        url: https://developer.squareup.com/docs/merchants-api
      operationId: RetrieveMerchant
      parameters:
        - name: merchant_id
          in: path
          description: |-
            The ID of the merchant to retrieve. If the string "me" is supplied as the ID,
            then retrieve the merchant that is currently accessible to this call.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveMerchantResponse'
      security:
        - oauth2:
            - MERCHANT_PROFILE_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /roster/frontend/api/src/main/proto/squareup/roster/frontend/external/merchant.proto
      x-proto-sha: 11ffb68a94888890036e716f133f695e495ad962

components:
  schemas:
    Country:
      type: string
      description: |-
        Indicates the country associated with another entity, such as a business.
        Values are in [ISO 3166-1-alpha-2 format](http://www.iso.org/iso/home/standards/country_codes.htm).
      enum:
        - ZZ
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BL
        - BM
        - BN
        - BO
        - BQ
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CU
        - CV
        - CW
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IR
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KP
        - KR
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MF
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - "NO"
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SD
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - SS
        - ST
        - SV
        - SX
        - SY
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - YE
        - YT
        - ZA
        - ZM
        - ZW
      x-enum-elements:
        - name: ZZ
          description: Unknown
          x-release-status: PUBLIC
        - name: AD
          description: Andorra
          x-release-status: PUBLIC
        - name: AE
          description: United Arab Emirates
          x-release-status: PUBLIC
        - name: AF
          description: Afghanistan
          x-release-status: PUBLIC
        - name: AG
          description: Antigua and Barbuda
          x-release-status: PUBLIC
        - name: AI
          description: Anguilla
          x-release-status: PUBLIC
        - name: AL
          description: Albania
          x-release-status: PUBLIC
        - name: AM
          description: Armenia
          x-release-status: PUBLIC
        - name: AO
          description: Angola
          x-release-status: PUBLIC
        - name: AQ
          description: Antartica
          x-release-status: PUBLIC
        - name: AR
          description: Argentina
          x-release-status: PUBLIC
        - name: AS
          description: American Samoa
          x-release-status: PUBLIC
        - name: AT
          description: Austria
          x-release-status: PUBLIC
        - name: AU
          description: Australia
          x-release-status: PUBLIC
        - name: AW
          description: Aruba
          x-release-status: PUBLIC
        - name: AX
          description: Åland Islands
          x-release-status: PUBLIC
        - name: AZ
          description: Azerbaijan
          x-release-status: PUBLIC
        - name: BA
          description: Bosnia and Herzegovina
          x-release-status: PUBLIC
        - name: BB
          description: Barbados
          x-release-status: PUBLIC
        - name: BD
          description: Bangladesh
          x-release-status: PUBLIC
        - name: BE
          description: Belgium
          x-release-status: PUBLIC
        - name: BF
          description: Burkina Faso
          x-release-status: PUBLIC
        - name: BG
          description: Bulgaria
          x-release-status: PUBLIC
        - name: BH
          description: Bahrain
          x-release-status: PUBLIC
        - name: BI
          description: Burundi
          x-release-status: PUBLIC
        - name: BJ
          description: Benin
          x-release-status: PUBLIC
        - name: BL
          description: Saint Barthélemy
          x-release-status: PUBLIC
        - name: BM
          description: Bermuda
          x-release-status: PUBLIC
        - name: BN
          description: Brunei
          x-release-status: PUBLIC
        - name: BO
          description: Bolivia
          x-release-status: PUBLIC
        - name: BQ
          description: Bonaire
          x-release-status: PUBLIC
        - name: BR
          description: Brazil
          x-release-status: PUBLIC
        - name: BS
          description: Bahamas
          x-release-status: PUBLIC
        - name: BT
          description: Bhutan
          x-release-status: PUBLIC
        - name: BV
          description: Bouvet Island
          x-release-status: PUBLIC
        - name: BW
          description: Botswana
          x-release-status: PUBLIC
        - name: BY
          description: Belarus
          x-release-status: PUBLIC
        - name: BZ
          description: Belize
          x-release-status: PUBLIC
        - name: CA
          description: Canada
          x-release-status: PUBLIC
        - name: CC
          description: Cocos Islands
          x-release-status: PUBLIC
        - name: CD
          description: Democratic Republic of the Congo
          x-release-status: PUBLIC
        - name: CF
          description: Central African Republic
          x-release-status: PUBLIC
        - name: CG
          description: Congo
          x-release-status: PUBLIC
        - name: CH
          description: Switzerland
          x-release-status: PUBLIC
        - name: CI
          description: Ivory Coast
          x-release-status: PUBLIC
        - name: CK
          description: Cook Islands
          x-release-status: PUBLIC
        - name: CL
          description: Chile
          x-release-status: PUBLIC
        - name: CM
          description: Cameroon
          x-release-status: PUBLIC
        - name: CN
          description: China
          x-release-status: PUBLIC
        - name: CO
          description: Colombia
          x-release-status: PUBLIC
        - name: CR
          description: Costa Rica
          x-release-status: PUBLIC
        - name: CU
          description: Cuba
          x-release-status: PUBLIC
        - name: CV
          description: Cabo Verde
          x-release-status: PUBLIC
        - name: CW
          description: Curaçao
          x-release-status: PUBLIC
        - name: CX
          description: Christmas Island
          x-release-status: PUBLIC
        - name: CY
          description: Cyprus
          x-release-status: PUBLIC
        - name: CZ
          description: Czechia
          x-release-status: PUBLIC
        - name: DE
          description: Germany
          x-release-status: PUBLIC
        - name: DJ
          description: Djibouti
          x-release-status: PUBLIC
        - name: DK
          description: Denmark
          x-release-status: PUBLIC
        - name: DM
          description: Dominica
          x-release-status: PUBLIC
        - name: DO
          description: Dominican Republic
          x-release-status: PUBLIC
        - name: DZ
          description: Algeria
          x-release-status: PUBLIC
        - name: EC
          description: Ecuador
          x-release-status: PUBLIC
        - name: EE
          description: Estonia
          x-release-status: PUBLIC
        - name: EG
          description: Egypt
          x-release-status: PUBLIC
        - name: EH
          description: Western Sahara
          x-release-status: PUBLIC
        - name: ER
          description: Eritrea
          x-release-status: PUBLIC
        - name: ES
          description: Spain
          x-release-status: PUBLIC
        - name: ET
          description: Ethiopia
          x-release-status: PUBLIC
        - name: FI
          description: Finland
          x-release-status: PUBLIC
        - name: FJ
          description: Fiji
          x-release-status: PUBLIC
        - name: FK
          description: Falkland Islands
          x-release-status: PUBLIC
        - name: FM
          description: Federated States of Micronesia
          x-release-status: PUBLIC
        - name: FO
          description: Faroe Islands
          x-release-status: PUBLIC
        - name: FR
          description: France
          x-release-status: PUBLIC
        - name: GA
          description: Gabon
          x-release-status: PUBLIC
        - name: GB
          description: United Kingdom
          x-release-status: PUBLIC
        - name: GD
          description: Grenada
          x-release-status: PUBLIC
        - name: GE
          description: Georgia
          x-release-status: PUBLIC
        - name: GF
          description: French Guiana
          x-release-status: PUBLIC
        - name: GG
          description: Guernsey
          x-release-status: PUBLIC
        - name: GH
          description: Ghana
          x-release-status: PUBLIC
        - name: GI
          description: Gibraltar
          x-release-status: PUBLIC
        - name: GL
          description: Greenland
          x-release-status: PUBLIC
        - name: GM
          description: Gambia
          x-release-status: PUBLIC
        - name: GN
          description: Guinea
          x-release-status: PUBLIC
        - name: GP
          description: Guadeloupe
          x-release-status: PUBLIC
        - name: GQ
          description: Equatorial Guinea
          x-release-status: PUBLIC
        - name: GR
          description: Greece
          x-release-status: PUBLIC
        - name: GS
          description: South Georgia and the South Sandwich Islands
          x-release-status: PUBLIC
        - name: GT
          description: Guatemala
          x-release-status: PUBLIC
        - name: GU
          description: Guam
          x-release-status: PUBLIC
        - name: GW
          description: Guinea-Bissau
          x-release-status: PUBLIC
        - name: GY
          description: Guyana
          x-release-status: PUBLIC
        - name: HK
          description: Hong Kong
          x-release-status: PUBLIC
        - name: HM
          description: Heard Island and McDonald Islands
          x-release-status: PUBLIC
        - name: HN
          description: Honduras
          x-release-status: PUBLIC
        - name: HR
          description: Croatia
          x-release-status: PUBLIC
        - name: HT
          description: Haiti
          x-release-status: PUBLIC
        - name: HU
          description: Hungary
          x-release-status: PUBLIC
        - name: ID
          description: Indonesia
          x-release-status: PUBLIC
        - name: IE
          description: Ireland
          x-release-status: PUBLIC
        - name: IL
          description: Israel
          x-release-status: PUBLIC
        - name: IM
          description: Isle of Man
          x-release-status: PUBLIC
        - name: IN
          description: India
          x-release-status: PUBLIC
        - name: IO
          description: British Indian Ocean Territory
          x-release-status: PUBLIC
        - name: IQ
          description: Iraq
          x-release-status: PUBLIC
        - name: IR
          description: Iran
          x-release-status: PUBLIC
        - name: IS
          description: Iceland
          x-release-status: PUBLIC
        - name: IT
          description: Italy
          x-release-status: PUBLIC
        - name: JE
          description: Jersey
          x-release-status: PUBLIC
        - name: JM
          description: Jamaica
          x-release-status: PUBLIC
        - name: JO
          description: Jordan
          x-release-status: PUBLIC
        - name: JP
          description: Japan
          x-release-status: PUBLIC
        - name: KE
          description: Kenya
          x-release-status: PUBLIC
        - name: KG
          description: Kyrgyzstan
          x-release-status: PUBLIC
        - name: KH
          description: Cambodia
          x-release-status: PUBLIC
        - name: KI
          description: Kiribati
          x-release-status: PUBLIC
        - name: KM
          description: Comoros
          x-release-status: PUBLIC
        - name: KN
          description: Saint Kitts and Nevis
          x-release-status: PUBLIC
        - name: KP
          description: Democratic People's Republic of Korea
          x-release-status: PUBLIC
        - name: KR
          description: Republic of Korea
          x-release-status: PUBLIC
        - name: KW
          description: Kuwait
          x-release-status: PUBLIC
        - name: KY
          description: Cayman Islands
          x-release-status: PUBLIC
        - name: KZ
          description: Kazakhstan
          x-release-status: PUBLIC
        - name: LA
          description: Lao People's Democratic Republic
          x-release-status: PUBLIC
        - name: LB
          description: Lebanon
          x-release-status: PUBLIC
        - name: LC
          description: Saint Lucia
          x-release-status: PUBLIC
        - name: LI
          description: Liechtenstein
          x-release-status: PUBLIC
        - name: LK
          description: Sri Lanka
          x-release-status: PUBLIC
        - name: LR
          description: Liberia
          x-release-status: PUBLIC
        - name: LS
          description: Lesotho
          x-release-status: PUBLIC
        - name: LT
          description: Lithuania
          x-release-status: PUBLIC
        - name: LU
          description: Luxembourg
          x-release-status: PUBLIC
        - name: LV
          description: Latvia
          x-release-status: PUBLIC
        - name: LY
          description: Libya
          x-release-status: PUBLIC
        - name: MA
          description: Morocco
          x-release-status: PUBLIC
        - name: MC
          description: Monaco
          x-release-status: PUBLIC
        - name: MD
          description: Moldova
          x-release-status: PUBLIC
        - name: ME
          description: Montenegro
          x-release-status: PUBLIC
        - name: MF
          description: Saint Martin
          x-release-status: PUBLIC
        - name: MG
          description: Madagascar
          x-release-status: PUBLIC
        - name: MH
          description: Marshall Islands
          x-release-status: PUBLIC
        - name: MK
          description: North Macedonia
          x-release-status: PUBLIC
        - name: ML
          description: Mali
          x-release-status: PUBLIC
        - name: MM
          description: Myanmar
          x-release-status: PUBLIC
        - name: MN
          description: Mongolia
          x-release-status: PUBLIC
        - name: MO
          description: Macao
          x-release-status: PUBLIC
        - name: MP
          description: Northern Mariana Islands
          x-release-status: PUBLIC
        - name: MQ
          description: Martinique
          x-release-status: PUBLIC
        - name: MR
          description: Mauritania
          x-release-status: PUBLIC
        - name: MS
          description: Montserrat
          x-release-status: PUBLIC
        - name: MT
          description: Malta
          x-release-status: PUBLIC
        - name: MU
          description: Mauritius
          x-release-status: PUBLIC
        - name: MV
          description: Maldives
          x-release-status: PUBLIC
        - name: MW
          description: Malawi
          x-release-status: PUBLIC
        - name: MX
          description: Mexico
          x-release-status: PUBLIC
        - name: MY
          description: Malaysia
          x-release-status: PUBLIC
        - name: MZ
          description: Mozambique
          x-release-status: PUBLIC
        - name: NA
          description: Namibia
          x-release-status: PUBLIC
        - name: NC
          description: New Caledonia
          x-release-status: PUBLIC
        - name: NE
          description: Niger
          x-release-status: PUBLIC
        - name: NF
          description: Norfolk Island
          x-release-status: PUBLIC
        - name: NG
          description: Nigeria
          x-release-status: PUBLIC
        - name: NI
          description: Nicaragua
          x-release-status: PUBLIC
        - name: NL
          description: Netherlands
          x-release-status: PUBLIC
        - name: "NO"
          description: Norway
          x-release-status: PUBLIC
        - name: NP
          description: Nepal
          x-release-status: PUBLIC
        - name: NR
          description: Nauru
          x-release-status: PUBLIC
        - name: NU
          description: Niue
          x-release-status: PUBLIC
        - name: NZ
          description: New Zealand
          x-release-status: PUBLIC
        - name: OM
          description: Oman
          x-release-status: PUBLIC
        - name: PA
          description: Panama
          x-release-status: PUBLIC
        - name: PE
          description: Peru
          x-release-status: PUBLIC
        - name: PF
          description: French Polynesia
          x-release-status: PUBLIC
        - name: PG
          description: Papua New Guinea
          x-release-status: PUBLIC
        - name: PH
          description: Philippines
          x-release-status: PUBLIC
        - name: PK
          description: Pakistan
          x-release-status: PUBLIC
        - name: PL
          description: Poland
          x-release-status: PUBLIC
        - name: PM
          description: Saint Pierre and Miquelon
          x-release-status: PUBLIC
        - name: PN
          description: Pitcairn
          x-release-status: PUBLIC
        - name: PR
          description: Puerto Rico
          x-release-status: PUBLIC
        - name: PS
          description: Palestine
          x-release-status: PUBLIC
        - name: PT
          description: Portugal
          x-release-status: PUBLIC
        - name: PW
          description: Palau
          x-release-status: PUBLIC
        - name: PY
          description: Paraguay
          x-release-status: PUBLIC
        - name: QA
          description: Qatar
          x-release-status: PUBLIC
        - name: RE
          description: Réunion
          x-release-status: PUBLIC
        - name: RO
          description: Romania
          x-release-status: PUBLIC
        - name: RS
          description: Serbia
          x-release-status: PUBLIC
        - name: RU
          description: Russia
          x-release-status: PUBLIC
        - name: RW
          description: Rwanda
          x-release-status: PUBLIC
        - name: SA
          description: Saudi Arabia
          x-release-status: PUBLIC
        - name: SB
          description: Solomon Islands
          x-release-status: PUBLIC
        - name: SC
          description: Seychelles
          x-release-status: PUBLIC
        - name: SD
          description: Sudan
          x-release-status: PUBLIC
        - name: SE
          description: Sweden
          x-release-status: PUBLIC
        - name: SG
          description: Singapore
          x-release-status: PUBLIC
        - name: SH
          description: Saint Helena, Ascension and Tristan da Cunha
          x-release-status: PUBLIC
        - name: SI
          description: Slovenia
          x-release-status: PUBLIC
        - name: SJ
          description: Svalbard and Jan Mayen
          x-release-status: PUBLIC
        - name: SK
          description: Slovakia
          x-release-status: PUBLIC
        - name: SL
          description: Sierra Leone
          x-release-status: PUBLIC
        - name: SM
          description: San Marino
          x-release-status: PUBLIC
        - name: SN
          description: Senegal
          x-release-status: PUBLIC
        - name: SO
          description: Somalia
          x-release-status: PUBLIC
        - name: SR
          description: Suriname
          x-release-status: PUBLIC
        - name: SS
          description: South Sudan
          x-release-status: PUBLIC
        - name: ST
          description: Sao Tome and Principe
          x-release-status: PUBLIC
        - name: SV
          description: El Salvador
          x-release-status: PUBLIC
        - name: SX
          description: Sint Maarten
          x-release-status: PUBLIC
        - name: SY
          description: Syrian Arab Republic
          x-release-status: PUBLIC
        - name: SZ
          description: Eswatini
          x-release-status: PUBLIC
        - name: TC
          description: Turks and Caicos Islands
          x-release-status: PUBLIC
        - name: TD
          description: Chad
          x-release-status: PUBLIC
        - name: TF
          description: French Southern Territories
          x-release-status: PUBLIC
        - name: TG
          description: Togo
          x-release-status: PUBLIC
        - name: TH
          description: Thailand
          x-release-status: PUBLIC
        - name: TJ
          description: Tajikistan
          x-release-status: PUBLIC
        - name: TK
          description: Tokelau
          x-release-status: PUBLIC
        - name: TL
          description: Timor-Leste
          x-release-status: PUBLIC
        - name: TM
          description: Turkmenistan
          x-release-status: PUBLIC
        - name: TN
          description: Tunisia
          x-release-status: PUBLIC
        - name: TO
          description: Tonga
          x-release-status: PUBLIC
        - name: TR
          description: Turkey
          x-release-status: PUBLIC
        - name: TT
          description: Trinidad and Tobago
          x-release-status: PUBLIC
        - name: TV
          description: Tuvalu
          x-release-status: PUBLIC
        - name: TW
          description: Taiwan
          x-release-status: PUBLIC
        - name: TZ
          description: Tanzania
          x-release-status: PUBLIC
        - name: UA
          description: Ukraine
          x-release-status: PUBLIC
        - name: UG
          description: Uganda
          x-release-status: PUBLIC
        - name: UM
          description: United States Minor Outlying Islands
          x-release-status: PUBLIC
        - name: US
          description: United States of America
          x-release-status: PUBLIC
        - name: UY
          description: Uruguay
          x-release-status: PUBLIC
        - name: UZ
          description: Uzbekistan
          x-release-status: PUBLIC
        - name: VA
          description: Vatican City
          x-release-status: PUBLIC
        - name: VC
          description: Saint Vincent and the Grenadines
          x-release-status: PUBLIC
        - name: VE
          description: Venezuela
          x-release-status: PUBLIC
        - name: VG
          description: British Virgin Islands
          x-release-status: PUBLIC
        - name: VI
          description: U.S. Virgin Islands
          x-release-status: PUBLIC
        - name: VN
          description: Vietnam
          x-release-status: PUBLIC
        - name: VU
          description: Vanuatu
          x-release-status: PUBLIC
        - name: WF
          description: Wallis and Futuna
          x-release-status: PUBLIC
        - name: WS
          description: Samoa
          x-release-status: PUBLIC
        - name: YE
          description: Yemen
          x-release-status: PUBLIC
        - name: YT
          description: Mayotte
          x-release-status: PUBLIC
        - name: ZA
          description: South Africa
          x-release-status: PUBLIC
        - name: ZM
          description: Zambia
          x-release-status: PUBLIC
        - name: ZW
          description: Zimbabwe
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/resources/country.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: Country
    SearchOrdersSortField:
      type: string
      description: Specifies which timestamp to use to sort `SearchOrder` results.
      enum:
        - DO_NOT_USE
        - CREATED_AT
        - UPDATED_AT
        - CLOSED_AT
      x-enum-elements:
        - name: CREATED_AT
          description: |-
            The time when the order was created, in RFC-3339 format. If you are also
            filtering for a time range in this query, you must set the `CREATED_AT`
            field in your `DateTimeFilter`.
          x-release-status: PUBLIC
        - name: UPDATED_AT
          description: |-
            The time when the order last updated, in RFC-3339 format. If you are also
            filtering for a time range in this query, you must set the `UPDATED_AT`
            field in your `DateTimeFilter`.
          x-release-status: PUBLIC
        - name: CLOSED_AT
          description: |-
            The time when the order was closed, in RFC-3339 format. If you use this
            value, you must also set a `StateFilter` with closed states. If you are also
            filtering for a time range in this query, you must set the `CLOSED_AT`
            field in your `DateTimeFilter`.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersSortField
    SortOrder:
      type: string
      description: The order (e.g., chronological or alphabetical) in which results
        from a request are returned.
      enum:
        - DESC
        - ASC
      x-enum-elements:
        - name: DESC
          description: The results are returned in descending (e.g., newest-first or
            Z-A) order.
          x-release-status: PUBLIC
        - name: ASC
          description: The results are returned in ascending (e.g., oldest-first or
            A-Z) order.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/sort.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: SortOrder
    SearchOrdersSort:
      required:
        - sort_field
      type: object
      properties:
        sort_field:
          $ref: '#/components/schemas/SearchOrdersSortField'
        sort_order:
          $ref: '#/components/schemas/SortOrder'
      description: |-
        Sorting criteria for a `SearchOrders` request. Results can only be sorted
        by a timestamp field.
      x-property-order:
        - sort_field
        - sort_order
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersSort
    SearchOrdersSourceFilter:
      type: object
      properties:
        source_names:
          maxItems: 10
          type: array
          description: |-
            Filters by the [Source](entity:OrderSource) `name`. The filter returns any orders
            with a `source.name` that matches any of the listed source names.

            Max: 10 source names.
          items:
            type: string
      description: A filter based on order `source` information.
      x-property-order:
        - source_names
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersSourceFilter
    SearchOrdersStateFilter:
      required:
        - states
      type: object
      properties:
        states:
          type: array
          description: |-
            States to filter for.
            See [OrderState](#type-orderstate) for possible values
          items:
            $ref: '#/components/schemas/OrderState'
      description: Filter by the current order `state`.
      x-property-order:
        - states
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersStateFilter
    OrderState:
      type: string
      description: The state of the order.
      enum:
        - DO_NOT_USE
        - OPEN
        - COMPLETED
        - CANCELED
        - DRAFT
      x-enum-elements:
        - name: OPEN
          description: Indicates that the order is open. Open orders can be updated.
          x-release-status: PUBLIC
        - name: COMPLETED
          description: Indicates that the order is completed. Completed orders are fully
            paid. This is a terminal state.
          x-release-status: PUBLIC
        - name: CANCELED
          description: Indicates that the order is canceled. Canceled orders are not
            paid. This is a terminal state.
          x-release-status: PUBLIC
        - name: DRAFT
          description: |-
            Indicates that the order is in a draft state. Draft orders can be updated,
            but cannot be paid or fulfilled.
            For more information, see [Create Orders](https://developer.squareup.com/docs/orders-api/create-orders).
          x-release-status: BETA
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderState
    SearchOrdersFilter:
      type: object
      properties:
        state_filter:
          $ref: '#/components/schemas/SearchOrdersStateFilter'
        date_time_filter:
          $ref: '#/components/schemas/SearchOrdersDateTimeFilter'
        fulfillment_filter:
          $ref: '#/components/schemas/SearchOrdersFulfillmentFilter'
        source_filter:
          $ref: '#/components/schemas/SearchOrdersSourceFilter'
        customer_filter:
          $ref: '#/components/schemas/SearchOrdersCustomerFilter'
      description: |-
        Filtering criteria to use for a `SearchOrders` request. Multiple filters
        are ANDed together.
      x-property-order:
        - workflow_filter
        - state_filter
        - reference_id_filter
        - date_time_filter
        - fulfillment_filter
        - source_filter
        - customer_filter
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersFilter
    SearchOrdersCustomerFilter:
      type: object
      properties:
        customer_ids:
          maxItems: 10
          type: array
          description: |-
            A list of customer IDs to filter by.

            Max: 10 customer IDs.
          items:
            type: string
      description: |-
        A filter based on the order `customer_id` and any tender `customer_id`
        associated with the order. It does not filter based on the
        [FulfillmentRecipient](entity:OrderFulfillmentRecipient) `customer_id`.
      x-property-order:
        - customer_ids
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersCustomerFilter
    SearchOrdersDateTimeFilter:
      type: object
      properties:
        created_at:
          $ref: '#/components/schemas/TimeRange'
        updated_at:
          $ref: '#/components/schemas/TimeRange'
        closed_at:
          $ref: '#/components/schemas/TimeRange'
      description: |-
        Filter for `Order` objects based on whether their `CREATED_AT`,
        `CLOSED_AT`, or `UPDATED_AT` timestamps fall within a specified time range.
        You can specify the time range and which timestamp to filter for. You can filter
        for only one time range at a time.

        For each time range, the start time and end time are inclusive. If the end time
        is absent, it defaults to the time of the first request for the cursor.

        __Important:__ If you use the `DateTimeFilter` in a `SearchOrders` query,
        you must set the `sort_field` in [OrdersSort](entity:SearchOrdersSort)
        to the same field you filter for. For example, if you set the `CLOSED_AT` field
        in `DateTimeFilter`, you must set the `sort_field` in `SearchOrdersSort` to
        `CLOSED_AT`. Otherwise, `SearchOrders` throws an error.
        [Learn more about filtering orders by time range.](https://developer.squareup.com/docs/orders-api/manage-orders#important-note-on-filtering-orders-by-time-range)
      x-property-order:
        - created_at
        - updated_at
        - closed_at
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersDateTimeFilter
    TimeRange:
      type: object
      properties:
        start_at:
          type: string
          description: |-
            A datetime value in RFC 3339 format indicating when the time range
            starts.
        end_at:
          type: string
          description: |-
            A datetime value in RFC 3339 format indicating when the time range
            ends.
      description: |-
        Represents a generic time range. The start and end values are
        represented in RFC 3339 format. Time ranges are customized to be
        inclusive or exclusive based on the needs of a particular endpoint.
        Refer to the relevant endpoint-specific documentation to determine
        how time ranges are handled.
      x-property-order:
        - start_at
        - end_at
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/date.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: TimeRange
    SearchOrdersFulfillmentFilter:
      type: object
      properties:
        fulfillment_types:
          type: array
          description: |-
            A list of [fulfillment types](entity:OrderFulfillmentType) to filter
            for. The list returns orders if any of its fulfillments match any of the fulfillment types
            listed in this field.
            See [OrderFulfillmentType](#type-orderfulfillmenttype) for possible values
          items:
            $ref: '#/components/schemas/OrderFulfillmentType'
        fulfillment_states:
          type: array
          description: |-
            A list of [fulfillment states](entity:OrderFulfillmentState) to filter
            for. The list returns orders if any of its fulfillments match any of the
            fulfillment states listed in this field.
            See [OrderFulfillmentState](#type-orderfulfillmentstate) for possible values
          items:
            $ref: '#/components/schemas/OrderFulfillmentState'
      description: Filter based on [order fulfillment](entity:OrderFulfillment) information.
      x-property-order:
        - fulfillment_types
        - fulfillment_states
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersFulfillmentFilter
    OrderFulfillmentState:
      type: string
      description: The current state of this fulfillment.
      enum:
        - FULFILLMENT_STATE_DO_NOT_USE
        - PROPOSED
        - RESERVED
        - PREPARED
        - COMPLETED
        - CANCELED
        - FAILED
      x-enum-elements:
        - name: PROPOSED
          description: Indicates that the fulfillment has been proposed.
          x-release-status: PUBLIC
        - name: RESERVED
          description: Indicates that the fulfillment has been reserved.
          x-release-status: PUBLIC
        - name: PREPARED
          description: Indicates that the fulfillment has been prepared.
          x-release-status: PUBLIC
        - name: COMPLETED
          description: Indicates that the fulfillment was successfully completed.
          x-release-status: PUBLIC
        - name: CANCELED
          description: Indicates that the fulfillment was canceled.
          x-release-status: PUBLIC
        - name: FAILED
          description: |-
            Indicates that the fulfillment failed to be completed, but was not explicitly
            canceled.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderFulfillmentState
    OrderFulfillmentType:
      type: string
      description: The type of fulfillment.
      enum:
        - FULFILLMENT_TYPE_DO_NOT_USE
        - CUSTOM
        - PICKUP
        - MANAGED_DELIVERY
        - SHIPMENT
        - DIGITAL
        - DELIVERY
        - SIMPLE
      x-enum-elements:
        - name: PICKUP
          description: A recipient to pick up the fulfillment from a physical [location](entity:Location).
          x-release-status: PUBLIC
        - name: SHIPMENT
          description: A shipping carrier to ship the fulfillment.
          x-release-status: BETA
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderFulfillmentType
    SearchOrdersQuery:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/SearchOrdersFilter'
        sort:
          $ref: '#/components/schemas/SearchOrdersSort'
      description: Contains query criteria for the search.
      x-property-order:
        - filter
        - sort
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersQuery
    OrderEntry:
      type: object
      properties:
        order_id:
          type: string
          description: The ID of the order.
        version:
          type: integer
          description: |-
            The version number, which is incremented each time an update is committed to the order.
            Orders that were not created through the API do not include a version number and
            therefore cannot be updated.

            [Read more about working with versions.](https://developer.squareup.com/docs/orders-api/manage-orders#update-orders)
          readOnly: true
          x-release-status: BETA
        location_id:
          type: string
          description: The location ID the order belongs to.
      description: "A lightweight description of an [order](entity:Order) that is\
        \ returned when \n`returned_entries` is `true` on a [SearchOrdersRequest](api-endpoint:Orders-SearchOrders)."
      x-property-order:
        - order_id
        - version
        - location_id
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/order_entry.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderEntry
    SearchOrdersRequest:
      type: object
      properties:
        location_ids:
          type: array
          description: |-
            The location IDs for the orders to query. All locations must belong to
            the same merchant.

            Min: 1 location ID.

            Max: 10 location IDs.
          items:
            type: string
        cursor:
          type: string
          description: |-
            A pagination cursor returned by a previous call to this endpoint.
            Provide this cursor to retrieve the next set of results for your original query.
            For more information, see [Pagination](https://developer.squareup.com/docs/basics/api101/pagination).
        query:
          $ref: '#/components/schemas/SearchOrdersQuery'
        limit:
          minimum: 1
          type: integer
          description: |-
            The maximum number of results to be returned in a single page. It is
            possible to receive fewer results than the specified limit on a given page.

            Default: `500`
        return_entries:
          type: boolean
          description: |-
            A Boolean that controls the format of the search results. If `true`,
            `SearchOrders` returns [OrderEntry](entity:OrderEntry) objects. If `false`, `SearchOrders`
            returns complete order objects.

            Default: `false`.
      description: |-
        The request does not have any required fields. When given no query criteria,
        `SearchOrders` returns all results for all of the seller's locations. When retrieving additional
        pages using a `cursor`, the `query` must be equal to the `query` used to retrieve the first page of
        results.
      example:
        return_entries: true
        limit: 3
        location_ids:
          - 057P5VYJ4A5X1
          - 18YC4JDH91E1H
        query:
          filter:
            date_time_filter:
              closed_at:
                start_at: 2018-03-03T20:00:00+00:00
                end_at: 2019-03-04T21:54:45+00:00
            state_filter:
              states:
                - COMPLETED
          sort:
            sort_field: CLOSED_AT
            sort_order: DESC
      x-property-order:
        - location_ids
        - merchant_id
        - cursor
        - query
        - limit
        - return_entries
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersRequest
    SearchOrdersResponse:
      type: object
      properties:
        order_entries:
          type: array
          description: |-
            A list of [OrderEntries](entity:OrderEntry) that fit the query
            conditions. The list is populated only if `return_entries` is set to `true` in the request.
          items:
            $ref: '#/components/schemas/OrderEntry'
        orders:
          type: array
          description: |-
            A list of
            [Order](entity:Order) objects that match the query conditions. The list is populated only if
            `return_entries` is set to `false` in the request.
          items:
            $ref: '#/components/schemas/Order'
        cursor:
          type: string
          description: |-
            The pagination cursor to be used in a subsequent request. If unset,
            this is the final response.
            For more information, see [Pagination](https://developer.squareup.com/docs/basics/api101/pagination).
        errors:
          type: array
          description: '[Errors](entity:Error) encountered during the search.'
          items:
            $ref: '#/components/schemas/Error'
      description: |-
        Either the `order_entries` or `orders` field is set, depending on whether
        `return_entries` is set on the [SearchOrdersRequest](api-endpoint:Orders-SearchOrders).
      example:
        order_entries:
          - order_id: CAISEM82RcpmcFBM0TfOyiHV3es
            location_id: 057P5VYJ4A5X1
            version: 1
          - order_id: CAISENgvlJ6jLWAzERDzjyHVybY
            location_id: 18YC4JDH91E1H
          - order_id: CAISEM52YcpmcWAzERDOyiWS3ty
            location_id: 057P5VYJ4A5X1
        cursor: "123"
      x-property-order:
        - order_entries
        - orders
        - cursor
        - errors
        - unconvertible_transaction_ids
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/search_orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: SearchOrdersResponse
    MeasurementUnitArea:
      type: string
      description: Unit of area used to measure a quantity.
      enum:
        - INVALID_AREA
        - IMPERIAL_ACRE
        - IMPERIAL_SQUARE_INCH
        - IMPERIAL_SQUARE_FOOT
        - IMPERIAL_SQUARE_YARD
        - IMPERIAL_SQUARE_MILE
        - METRIC_SQUARE_CENTIMETER
        - METRIC_SQUARE_METER
        - METRIC_SQUARE_KILOMETER
      x-enum-elements:
        - name: IMPERIAL_ACRE
          description: The area is measured in acres.
          x-release-status: PUBLIC
        - name: IMPERIAL_SQUARE_INCH
          description: The area is measured in square inches.
          x-release-status: PUBLIC
        - name: IMPERIAL_SQUARE_FOOT
          description: The area is measured in square feet.
          x-release-status: PUBLIC
        - name: IMPERIAL_SQUARE_YARD
          description: The area is measured in square yards.
          x-release-status: PUBLIC
        - name: IMPERIAL_SQUARE_MILE
          description: The area is measured in square miles.
          x-release-status: PUBLIC
        - name: METRIC_SQUARE_CENTIMETER
          description: The area is measured in square centimeters.
          x-release-status: PUBLIC
        - name: METRIC_SQUARE_METER
          description: The area is measured in square meters.
          x-release-status: PUBLIC
        - name: METRIC_SQUARE_KILOMETER
          description: The area is measured in square kilometers.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/measurement_units.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: MeasurementUnitArea
    MeasurementUnitGeneric:
      type: string
      enum:
        - INVALID_GENERIC_UNIT
        - UNIT
      x-enum-elements:
        - name: UNIT
          description: The generic unit.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/measurement_units.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: MeasurementUnitGeneric
    MeasurementUnitLength:
      type: string
      description: The unit of length used to measure a quantity.
      enum:
        - INVALID_LENGTH
        - IMPERIAL_INCH
        - IMPERIAL_FOOT
        - IMPERIAL_YARD
        - IMPERIAL_MILE
        - METRIC_MILLIMETER
        - METRIC_CENTIMETER
        - METRIC_METER
        - METRIC_KILOMETER
      x-enum-elements:
        - name: IMPERIAL_INCH
          description: The length is measured in inches.
          x-release-status: PUBLIC
        - name: IMPERIAL_FOOT
          description: The length is measured in feet.
          x-release-status: PUBLIC
        - name: IMPERIAL_YARD
          description: The length is measured in yards.
          x-release-status: PUBLIC
        - name: IMPERIAL_MILE
          description: The length is measured in miles.
          x-release-status: PUBLIC
        - name: METRIC_MILLIMETER
          description: The length is measured in millimeters.
          x-release-status: PUBLIC
        - name: METRIC_CENTIMETER
          description: The length is measured in centimeters.
          x-release-status: PUBLIC
        - name: METRIC_METER
          description: The length is measured in meters.
          x-release-status: PUBLIC
        - name: METRIC_KILOMETER
          description: The length is measured in kilometers.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/measurement_units.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: MeasurementUnitLength
    MeasurementUnitTime:
      type: string
      description: Unit of time used to measure a quantity (a duration).
      enum:
        - INVALID_TIME
        - GENERIC_MILLISECOND
        - GENERIC_SECOND
        - GENERIC_MINUTE
        - GENERIC_HOUR
        - GENERIC_DAY
      x-enum-elements:
        - name: GENERIC_MILLISECOND
          description: The time is measured in milliseconds.
          x-release-status: PUBLIC
        - name: GENERIC_SECOND
          description: The time is measured in seconds.
          x-release-status: PUBLIC
        - name: GENERIC_MINUTE
          description: The time is measured in minutes.
          x-release-status: PUBLIC
        - name: GENERIC_HOUR
          description: The time is measured in hours.
          x-release-status: PUBLIC
        - name: GENERIC_DAY
          description: The time is measured in days.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/measurement_units.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: MeasurementUnitTime
    MeasurementUnitUnitType:
      type: string
      description: Describes the type of this unit and indicates which field contains
        the unit information. This is an ‘open’ enum.
      enum:
        - INVALID_TYPE
        - TYPE_CUSTOM
        - TYPE_AREA
        - TYPE_LENGTH
        - TYPE_VOLUME
        - TYPE_WEIGHT
        - TYPE_TIME
        - TYPE_GENERIC
      x-enum-elements:
        - name: TYPE_CUSTOM
          description: The unit details are contained in the custom_unit field.
          x-release-status: PUBLIC
        - name: TYPE_AREA
          description: The unit details are contained in the area_unit field.
          x-release-status: PUBLIC
        - name: TYPE_LENGTH
          description: The unit details are contained in the length_unit field.
          x-release-status: PUBLIC
        - name: TYPE_VOLUME
          description: The unit details are contained in the volume_unit field.
          x-release-status: PUBLIC
        - name: TYPE_WEIGHT
          description: The unit details are contained in the weight_unit field.
          x-release-status: PUBLIC
        - name: TYPE_GENERIC
          description: The unit details are contained in the generic_unit field.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/measurement_units.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: MeasurementUnitUnitType
    MeasurementUnitVolume:
      type: string
      description: The unit of volume used to measure a quantity.
      enum:
        - INVALID_VOLUME
        - GENERIC_FLUID_OUNCE
        - GENERIC_SHOT
        - GENERIC_CUP
        - GENERIC_PINT
        - GENERIC_QUART
        - GENERIC_GALLON
        - IMPERIAL_CUBIC_INCH
        - IMPERIAL_CUBIC_FOOT
        - IMPERIAL_CUBIC_YARD
        - METRIC_MILLILITER
        - METRIC_LITER
      x-enum-elements:
        - name: GENERIC_FLUID_OUNCE
          description: The volume is measured in ounces.
          x-release-status: PUBLIC
        - name: GENERIC_SHOT
          description: The volume is measured in shots.
          x-release-status: PUBLIC
        - name: GENERIC_CUP
          description: The volume is measured in cups.
          x-release-status: PUBLIC
        - name: GENERIC_PINT
          description: The volume is measured in pints.
          x-release-status: PUBLIC
        - name: GENERIC_QUART
          description: The volume is measured in quarts.
          x-release-status: PUBLIC
        - name: GENERIC_GALLON
          description: The volume is measured in gallons.
          x-release-status: PUBLIC
        - name: IMPERIAL_CUBIC_INCH
          description: The volume is measured in cubic inches.
          x-release-status: PUBLIC
        - name: IMPERIAL_CUBIC_FOOT
          description: The volume is measured in cubic feet.
          x-release-status: PUBLIC
        - name: IMPERIAL_CUBIC_YARD
          description: The volume is measured in cubic yards.
          x-release-status: PUBLIC
        - name: METRIC_MILLILITER
          description: The volume is measured in metric milliliters.
          x-release-status: PUBLIC
        - name: METRIC_LITER
          description: The volume is measured in metric liters.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/measurement_units.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: MeasurementUnitVolume
    MeasurementUnitWeight:
      type: string
      description: Unit of weight used to measure a quantity.
      enum:
        - INVALID_WEIGHT
        - IMPERIAL_WEIGHT_OUNCE
        - IMPERIAL_POUND
        - IMPERIAL_STONE
        - METRIC_MILLIGRAM
        - METRIC_GRAM
        - METRIC_KILOGRAM
      x-enum-elements:
        - name: IMPERIAL_WEIGHT_OUNCE
          description: The weight is measured in ounces.
          x-release-status: PUBLIC
        - name: IMPERIAL_POUND
          description: The weight is measured in pounds.
          x-release-status: PUBLIC
        - name: IMPERIAL_STONE
          description: The weight is measured in stones.
          x-release-status: PUBLIC
        - name: METRIC_MILLIGRAM
          description: The weight is measured in milligrams.
          x-release-status: PUBLIC
        - name: METRIC_GRAM
          description: The weight is measured in grams.
          x-release-status: PUBLIC
        - name: METRIC_KILOGRAM
          description: The weight is measured in kilograms.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/measurement_units.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: MeasurementUnitWeight
    MeasurementUnitCustom:
      required:
        - abbreviation
        - name
      type: object
      properties:
        name:
          type: string
          description: The name of the custom unit, for example "bushel".
        abbreviation:
          type: string
          description: |-
            The abbreviation of the custom unit, such as "bsh" (bushel). This appears
            in the cart for the Point of Sale app, and in reports.
      description: The information needed to define a custom unit, provided by the
        seller.
      x-property-order:
        - name
        - abbreviation
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/measurement_units.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: MeasurementUnitCustom
    MeasurementUnit:
      type: object
      properties:
        custom_unit:
          $ref: '#/components/schemas/MeasurementUnitCustom'
        area_unit:
          $ref: '#/components/schemas/MeasurementUnitArea'
        length_unit:
          $ref: '#/components/schemas/MeasurementUnitLength'
        volume_unit:
          $ref: '#/components/schemas/MeasurementUnitVolume'
        weight_unit:
          $ref: '#/components/schemas/MeasurementUnitWeight'
        generic_unit:
          $ref: '#/components/schemas/MeasurementUnitGeneric'
        time_unit:
          $ref: '#/components/schemas/MeasurementUnitTime'
        type:
          $ref: '#/components/schemas/MeasurementUnitUnitType'
      description: |-
        Represents a unit of measurement to use with a quantity, such as ounces
        or inches. Exactly one of the following fields are required: `custom_unit`,
        `area_unit`, `length_unit`, `volume_unit`, and `weight_unit`.
      x-property-order:
        - custom_unit
        - area_unit
        - length_unit
        - volume_unit
        - weight_unit
        - generic_unit
        - time_unit
        - type
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/measurement_units.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: MeasurementUnit
    OrderQuantityUnit:
      type: object
      properties:
        measurement_unit:
          $ref: '#/components/schemas/MeasurementUnit'
        precision:
          type: integer
          description: |-
            For non-integer quantities, represents the number of digits after the decimal point that are
            recorded for this quantity.

            For example, a precision of 1 allows quantities such as `"1.0"` and `"1.1"`, but not `"1.01"`.

            Min: 0. Max: 5.
        catalog_object_id:
          type: string
          description: |-
            The catalog object ID referencing the
            [CatalogMeasurementUnit](entity:CatalogMeasurementUnit).

            This field is set when this is a catalog-backed measurement unit.
        catalog_version:
          type: integer
          description: |-
            The version of the catalog object that this measurement unit references.

            This field is set when this is a catalog-backed measurement unit.
          format: int64
      description: |-
        Contains the measurement unit for a quantity and a precision that
        specifies the number of digits after the decimal point for decimal quantities.
      x-property-order:
        - measurement_unit
        - precision
        - catalog_object_id
        - catalog_version
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderQuantityUnit
    OrderLineItemItemType:
      type: string
      description: Represents the line item type.
      enum:
        - DO_NOT_USE
        - ITEM
        - CUSTOM_AMOUNT
        - GIFT_CARD
      x-enum-elements:
        - name: ITEM
          description: Indicates that the line item is an itemized sale.
          x-release-status: BETA
        - name: CUSTOM_AMOUNT
          description: Indicates that the line item is a non-itemized sale.
          x-release-status: BETA
        - name: GIFT_CARD
          description: |-
            Indicates that the line item is a gift card sale. Gift cards sold through
            the Orders API are sold in an unactivated state and can be activated through the
            Gift Cards API using the line item `uid`.
          x-release-status: BETA
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderLineItemItemType
    OrderLineItemAppliedTax:
      required:
        - tax_uid
      type: object
      properties:
        uid:
          maxLength: 60
          type: string
          description: A unique ID that identifies the applied tax only within this
            order.
        tax_uid:
          maxLength: 60
          minLength: 1
          type: string
          description: |-
            The `uid` of the tax for which this applied tax represents. It must reference
            a tax present in the `order.taxes` field.

            This field is immutable. To change which taxes apply to a line item, delete and add a new
            `OrderLineItemAppliedTax`.
        applied_money:
          $ref: '#/components/schemas/Money'
      description: |-
        Represents an applied portion of a tax to a line item in an order.

        Order-scoped taxes automatically include the applied taxes in each line item.
        Line item taxes must be referenced from any applicable line items.
        The corresponding applied money is automatically computed, based on the
        set of participating line items.
      x-property-order:
        - uid
        - tax_uid
        - applied_money
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderLineItemAppliedTax
    OrderLineItemAppliedDiscount:
      required:
        - discount_uid
      type: object
      properties:
        uid:
          maxLength: 60
          type: string
          description: A unique ID that identifies the applied discount only within
            this order.
        discount_uid:
          maxLength: 60
          minLength: 1
          type: string
          description: |-
            The `uid` of the discount that the applied discount represents. It must
            reference a discount present in the `order.discounts` field.

            This field is immutable. To change which discounts apply to a line item,
            you must delete the discount and re-add it as a new `OrderLineItemAppliedDiscount`.
        applied_money:
          $ref: '#/components/schemas/Money'
      description: |-
        Represents an applied portion of a discount to a line item in an order.

        Order scoped discounts have automatically applied discounts present for each line item.
        Line-item scoped discounts must have applied discounts added manually for any applicable line
        items. The corresponding applied money is automatically computed based on participating
        line items.
      x-property-order:
        - uid
        - discount_uid
        - applied_money
        - quantity
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderLineItemAppliedDiscount
    OrderLineItemModifier:
      type: object
      properties:
        uid:
          maxLength: 60
          type: string
          description: A unique ID that identifies the modifier only within this order.
          x-release-status: BETA
        catalog_object_id:
          maxLength: 192
          type: string
          description: The catalog object ID referencing [CatalogModifier](entity:CatalogModifier).
        catalog_version:
          type: integer
          description: The version of the catalog object that this modifier references.
          format: int64
        name:
          maxLength: 255
          type: string
          description: The name of the item modifier.
        quantity:
          type: string
          description: |-
            The quantity of the line item modifier. The modifier quantity can be 0 or more.
            For example, suppose a restaurant offers a cheeseburger on the menu. When a buyer orders
            this item, the restaurant records the purchase by creating an `Order` object with a line item
            for a burger. The line item includes a line item modifier: the name is cheese and the quantity
            is 1. The buyer has the option to order extra cheese (or no cheese). If the buyer chooses
            the extra cheese option, the modifier quantity increases to 2. If the buyer does not want
            any cheese, the modifier quantity is set to 0.
        base_price_money:
          $ref: '#/components/schemas/Money'
        total_price_money:
          $ref: '#/components/schemas/Money'
        metadata:
          type: object
          additionalProperties:
            type: string
          description: |-
            Application-defined data attached to this order. Metadata fields are intended
            to store descriptive references or associations with an entity in another system or store brief
            information about the object. Square does not process this field; it only stores and returns it
            in relevant API calls. Do not use metadata to store any sensitive information (such as personally
            identifiable information or card details).

            Keys written by applications must be 60 characters or less and must be in the character set
            `[a-zA-Z0-9_-]`. Entries can also include metadata generated by Square. These keys are prefixed
            with a namespace, separated from the key with a ':' character.

            Values have a maximum length of 255 characters.

            An application can have up to 10 entries per metadata field.

            Entries written by applications are private and can only be read or modified by the same
            application.

            For more information, see  [Metadata](https://developer.squareup.com/docs/build-basics/metadata).
          x-release-status: BETA
      description: A [CatalogModifier](entity:CatalogModifier).
      x-property-order:
        - uid
        - catalog_object_id
        - catalog_version
        - name
        - quantity
        - base_price_money
        - total_price_money
        - metadata
        - modifier_extensions
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderLineItemModifier
    OrderLineItemPricingBlocklistsBlockedTax:
      type: object
      properties:
        uid:
          maxLength: 60
          type: string
          description: A unique ID of the `BlockedTax` within the order.
        tax_uid:
          maxLength: 60
          type: string
          description: |-
            The `uid` of the tax that should be blocked. Use this field to block
            ad hoc taxes. For catalog, taxes use the `tax_catalog_object_id` field.
        tax_catalog_object_id:
          maxLength: 192
          type: string
          description: |-
            The `catalog_object_id` of the tax that should be blocked.
            Use this field to block catalog taxes. For ad hoc taxes, use the
            `tax_uid` field.
      description: |-
        A tax to block from applying to a line item. The tax must be
        identified by either `tax_uid` or `tax_catalog_object_id`, but not both.
      x-property-order:
        - uid
        - tax_uid
        - tax_catalog_object_id
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderLineItemPricingBlocklistsBlockedTax
    OrderLineItemPricingBlocklists:
      type: object
      properties:
        blocked_discounts:
          type: array
          description: |-
            A list of discounts blocked from applying to the line item.
            Discounts can be blocked by the `discount_uid` (for ad hoc discounts) or
            the `discount_catalog_object_id` (for catalog discounts).
          items:
            $ref: '#/components/schemas/OrderLineItemPricingBlocklistsBlockedDiscount'
        blocked_taxes:
          type: array
          description: |-
            A list of taxes blocked from applying to the line item.
            Taxes can be blocked by the `tax_uid` (for ad hoc taxes) or
            the `tax_catalog_object_id` (for catalog taxes).
          items:
            $ref: '#/components/schemas/OrderLineItemPricingBlocklistsBlockedTax'
      description: |-
        Describes pricing adjustments that are blocked from manual and
        automatic application to a line item. For more information, see
        [Apply Taxes and Discounts](https://developer.squareup.com/docs/orders-api/apply-taxes-and-discounts).
      x-property-order:
        - blocked_discounts
        - blocked_taxes
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderLineItemPricingBlocklists
    OrderLineItemPricingBlocklistsBlockedDiscount:
      type: object
      properties:
        uid:
          maxLength: 60
          type: string
          description: A unique ID of the `BlockedDiscount` within the order.
        discount_uid:
          maxLength: 60
          type: string
          description: |-
            The `uid` of the discount that should be blocked. Use this field to block
            ad hoc discounts. For catalog discounts, use the `discount_catalog_object_id` field.
        discount_catalog_object_id:
          maxLength: 192
          type: string
          description: |-
            The `catalog_object_id` of the discount that should be blocked.
            Use this field to block catalog discounts. For ad hoc discounts, use the
            `discount_uid` field.
      description: |-
        A discount to block from applying to a line item. The discount must be
        identified by either `discount_uid` or `discount_catalog_object_id`, but not both.
      x-property-order:
        - uid
        - discount_uid
        - discount_catalog_object_id
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-proto/src/main/proto/squareup/omg/model/orders.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: OrderLineItemPricingBlocklistsBlockedDiscount
    RetrieveOrderResponse:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/Order'
        errors:
          type: array
          description: Any errors that occurred during the request.
          items:
            $ref: '#/components/schemas/Error'
      example:
        order:
          id: CAISENgvlJ6jLWAzERDzjyHVybY
          location_id: D7AVYMEAPJ3A3
          line_items:
            - uid: ULkg0tQTRK2bkU9fNv3IJD
              quantity: "1"
              name: Item 1
              base_price_money:
                amount: 500
                currency: USD
              gross_sales_money:
                amount: 500
                currency: USD
              total_tax_money:
                amount: 0
                currency: USD
              total_discount_money:
                amount: 250
                currency: USD
              total_money:
                amount: 250
                currency: USD
              variation_total_price_money:
                amount: 500
                currency: USD
              applied_discounts:
                - uid: 9zr9S4dxvPAixvn0lpa1VC
                  discount_uid: zGsRZP69aqSSR9lq9euSPB
                  applied_money:
                    amount: 250
                    currency: USD
            - uid: mumY8Nun4BC5aKe2yyx5a
              quantity: "2"
              name: Item 2
              base_price_money:
                amount: 300
                currency: USD
              gross_sales_money:
                amount: 600
                currency: USD
              total_tax_money:
                amount: 0
                currency: USD
              total_discount_money:
                amount: 300
                currency: USD
              total_money:
                amount: 300
                currency: USD
              variation_total_price_money:
                amount: 600
                currency: USD
              applied_discounts:
                - uid: qa8LwwZK82FgSEkQc2HYVC
                  discount_uid: zGsRZP69aqSSR9lq9euSPB
                  applied_money:
                    amount: 300
                    currency: USD
          discounts:
            - uid: zGsRZP69aqSSR9lq9euSPB
              name: 50% Off
              percentage: "50"
              applied_money:
                amount: 550
                currency: USD
              type: FIXED_PERCENTAGE
              scope: ORDER
          created_at: 2020-05-18T16:30:49.614Z
          updated_at: 2020-05-18T16:30:49.614Z
          state: OPEN
          version: 1
          total_tax_money:
            amount: 0
            currency: USD
          total_discount_money:
            amount: 550
            currency: USD
          total_tip_money:
            amount: 0
            currency: USD
          total_money:
            amount: 550
            currency: USD
[...]
