openapi: 3.0.0
info:
  title: Square
  description: Use Square APIs to manage and run business including payment, customer,
    product, inventory, and employee management.
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    url: https://squareup.com/developers
    email: developers@squareup.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "2.0"
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
      - name: production
        servers:
          - name: default
            url: https://connect.squareup.com
      - name: sandbox
        servers:
          - name: default
            url: https://connect.squareupsandbox.com
      - name: custom
        servers:
          - name: default
            url: '{custom_url}'
    parameters:
      - name: custom_url
        description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
        type: string
        example: https://connect.squareup.com
  x-square-generic-error-codes:
    - ACCESS_TOKEN_EXPIRED
    - ACCESS_TOKEN_REVOKED
    - API_VERSION_INCOMPATIBLE
    - APPLICATION_DISABLED
    - ARRAY_EMPTY
    - ARRAY_LENGTH_TOO_LONG
    - ARRAY_LENGTH_TOO_SHORT
    - BAD_CERTIFICATE
    - BAD_GATEWAY
    - BAD_REQUEST
    - CONFLICT
    - CONFLICTING_PARAMETERS
    - CURRENCY_MISMATCH
    - EXPECTED_ARRAY
    - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
    - EXPECTED_BOOLEAN
    - EXPECTED_FLOAT
    - EXPECTED_INTEGER
    - EXPECTED_JSON_BODY
    - EXPECTED_MAP
    - EXPECTED_OBJECT
    - EXPECTED_STRING
    - FORBIDDEN
    - GATEWAY_TIMEOUT
    - GONE
    - IDEMPOTENCY_KEY_REUSED
    - INCORRECT_TYPE
    - INSUFFICIENT_SCOPES
    - INTERNAL_SERVER_ERROR
    - INVALID_ARRAY_VALUE
    - INVALID_CONTENT_TYPE
    - INVALID_CURSOR
    - INVALID_ENUM_VALUE
    - INVALID_FORM_VALUE
    - INVALID_SORT_ORDER
    - INVALID_SQUARE_VERSION_FORMAT
    - INVALID_TIME
    - INVALID_TIME_RANGE
    - INVALID_VALUE
    - LOCATION_MISMATCH
    - MAP_KEY_LENGTH_TOO_LONG
    - MAP_KEY_LENGTH_TOO_SHORT
    - MERCHANT_SUBSCRIPTION_NOT_FOUND
    - METHOD_NOT_ALLOWED
    - MISSING_REQUIRED_PARAMETER
    - NOT_ACCEPTABLE
    - NOT_FOUND
    - NOT_IMPLEMENTED
    - NO_FIELDS_SET
    - RATE_LIMITED
    - REQUEST_ENTITY_TOO_LARGE
    - REQUEST_TIMEOUT
    - SANDBOX_NOT_SUPPORTED
    - SERVICE_UNAVAILABLE
    - TOO_MANY_MAP_ENTRIES
    - UNAUTHORIZED
    - UNEXPECTED_VALUE
    - UNKNOWN_BODY_PARAMETER
    - UNKNOWN_QUERY_PARAMETER
    - UNPROCESSABLE_ENTITY
    - UNSUPPORTED_MEDIA_TYPE
    - V1_ACCESS_TOKEN
    - V1_APPLICATION
    - VALUE_EMPTY
    - VALUE_REGEX_MISMATCH
    - VALUE_TOO_HIGH
    - VALUE_TOO_LONG
    - VALUE_TOO_LOW
    - VALUE_TOO_SHORT
servers:
  - url: https://connect.squareup.com
paths:
  /v2/orders/search:
    post:
      tags:
        - Orders
      summary: SearchOrders
      description: |-
        Search all orders for one or more locations. Orders include all sales,
        returns, and exchanges regardless of how or when they entered the Square
        ecosystem (such as Point of Sale, Invoices, and Connect APIs).

        `SearchOrders` requests need to specify which locations to search and define a
        [SearchOrdersQuery](entity:SearchOrdersQuery) object that controls
        how to sort or filter the results. Your `SearchOrdersQuery` can:

          Set filter criteria.
          Set the sort order.
          Determine whether to return results as complete `Order` objects or as
        [OrderEntry](entity:OrderEntry) objects.

        Note that details for orders processed with Square Point of Sale while in
        offline mode might not be transmitted to Square for up to 72 hours. Offline
        orders have a `created_at` value that reflects the time the order was created,
        not the time it was subsequently transmitted to Square.
      externalDocs:
        description: Search orders
        url: https://developer.squareup.com/docs/orders-api/manage-orders#search-orders
      operationId: SearchOrders
      parameters: [ ]
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchOrdersRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchOrdersResponse'
      security:
        - oauth2:
            - ORDERS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
  /v2/orders:
    post:
      tags:
        - Orders
      summary: CreateOrder
      description: "Creates a new [order](entity:Order) that can include information\
          \ about products for\npurchase and settings to apply to the purchase.\n\n\
          To pay for a created order, see \n[Pay for Orders](https://developer.squareup.com/docs/orders-api/pay-for-orders).\n\
          \nYou can modify open orders using the [UpdateOrder](api-endpoint:Orders-UpdateOrder)\
          \ endpoint."
      externalDocs:
        description: Create Orders
        url: https://developer.squareup.com/docs/orders-api/create-orders
      operationId: CreateOrder
      parameters: [ ]
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
      security:
        - oauth2:
            - ORDERS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
  /v2/orders/batch-retrieve:
    post:
      tags:
        - Orders
      summary: BatchRetrieveOrders
      description: |-
        Retrieves a set of [orders](entity:Order) by their IDs.
        
        If a given order ID does not exist, the ID is ignored instead of generating an error.
      externalDocs:
        description: Retrieve orders
        url: https://developer.squareup.com/docs/orders-api/manage-orders#retrieve-orders
      operationId: BatchRetrieveOrders
      parameters: [ ]
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRetrieveOrdersRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRetrieveOrdersResponse'
      security:
        - oauth2:
            - ORDERS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
  /v2/orders/{order_id}:
    get:
      tags:
        - Orders
      summary: RetrieveOrder
      description: Retrieves an [Order](entity:Order) by ID.
      operationId: RetrieveOrder
      parameters:
        - name: order_id
          in: path
          description: The ID of the order to retrieve.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveOrderResponse'
      security:
        - oauth2:
            - ORDERS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
    put:
      tags:
        - Orders
      summary: UpdateOrder
      description: "Updates an open [order](entity:Order) by adding, replacing, or\
          \ deleting\nfields. Orders with a `COMPLETED` or `CANCELED` state cannot be\
          \ updated.\n\nAn `UpdateOrder` request requires the following:\n\n- The `order_id`\
          \ in the endpoint path, identifying the order to update.\n- The latest `version`\
          \ of the order to update.\n- The [sparse order](https://developer.squareup.com/docs/orders-api/manage-orders/update-orders#sparse-order-objects)\n\
          containing only the fields to update and the version to which the update is\n\
          being applied.\n- If deleting fields, the [dot notation paths](https://developer.squareup.com/docs/orders-api/manage-orders#on-dot-notation)\n\
          identifying the fields to clear.\n\nTo pay for an order, see \n[Pay for Orders](https://developer.squareup.com/docs/orders-api/pay-for-orders)."
      externalDocs:
        description: Update orders
        url: https://developer.squareup.com/docs/orders-api/manage-orders#update-orders
      operationId: UpdateOrder
      parameters:
        - name: order_id
          in: path
          description: The ID of the order to update.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderResponse'
      security:
        - oauth2:
            - ORDERS_WRITE
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-is-sparse-update: true
  /v2/payouts:
    get:
      tags:
        - Payouts
      summary: ListPayouts
      description: "Retrieves a list of all payouts for the default location. \nYou\
          \ can filter payouts by location ID, status, time range, and order them in\
          \ ascending or descending order. \nTo call this endpoint, set `PAYOUTS_READ`\
          \ for the OAuth scope."
      externalDocs:
        description: Payouts Guide
        url: https://developer.squareup.com/docs/payouts-api/overview#list-payouts
      operationId: ListPayouts
      parameters:
        - name: location_id
          in: query
          description: "The ID of the location for which to list the payouts. \nBy default,\
            \ payouts are returned for the default (main) location associated with the\
            \ seller."
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: status
          in: query
          description: If provided, only payouts with the given status are returned.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/PayoutStatus'
        - name: begin_time
          in: query
          description: |-
            The timestamp for the beginning of the payout creation time, in RFC 3339 format.
            Inclusive. Default: The current time minus one year.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: end_time
          in: query
          description: |-
            The timestamp for the end of the payout creation time, in RFC 3339 format.
            Default: The current time.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort_order
          in: query
          description: The order in which payouts are listed.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/SortOrder'
        - name: cursor
          in: query
          description: |-
            A pagination cursor returned by a previous call to this endpoint.
            Provide this cursor to retrieve the next set of results for the original query.
            For more information, see [Pagination](https://developer.squareup.com/docs/basics/api101/pagination).
            If request parameters change between requests, subsequent results may contain duplicates or missing records.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: |-
            The maximum number of results to be returned in a single page.
            It is possible to receive fewer results than the specified limit on a given page.
            The default value of 100 is also the maximum allowed value. If the provided value is
            greater than 100, it is ignored and the default value is used instead.
            Default: `100`
          required: false
          style: form
          explode: true
          schema:
            type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPayoutsResponse'
      security:
        - oauth2: [ ]
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /payouts/payouts-proto/src/main/proto/squareup/payouts/service.proto
      x-proto-sha: 63e5a6095134dbb40e75b7c133622fb29aa6e1e2
  /v2/payouts/{payout_id}:
    get:
      tags:
        - Payouts
      summary: GetPayout
      description: "Retrieves details of a specific payout identified by a payout\
        \ ID. \nTo call this endpoint, set `PAYOUTS_READ` for the OAuth scope."
      externalDocs:
        description: Payouts Guide
        url: https://developer.squareup.com/docs/payouts-api/overview#get-payout
      operationId: GetPayout
      parameters:
        - name: payout_id
          in: path
          description: The ID of the payout to retrieve the information for.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPayoutResponse'
      security:
        - oauth2: [ ]
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /payouts/payouts-proto/src/main/proto/squareup/payouts/service.proto
      x-proto-sha: 63e5a6095134dbb40e75b7c133622fb29aa6e1e2
  /v2/refunds:
    get:
      tags:
        - Refunds
      summary: ListPaymentRefunds
      description: |-
        Retrieves a list of refunds for the account making the request.
        
        Results are eventually consistent, and new refunds or changes to refunds might take several
        seconds to appear.
        
        The maximum results per page is 100.
      externalDocs:
        description: Retrieve Payments and Refunds
        url: https://developer.squareup.com/docs/payments-api/retrieve-payments
      operationId: ListPaymentRefunds
      parameters:
        - name: begin_time
          in: query
          description: |-
            The timestamp for the beginning of the requested reporting period, in RFC 3339 format.

            Default: The current time minus one year.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: end_time
          in: query
          description: |-
            The timestamp for the end of the requested reporting period, in RFC 3339 format.

            Default: The current time.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort_order
          in: query
          description: |-
            The order in which results are listed:
            - `ASC` - Oldest to newest.
            - `DESC` - Newest to oldest (default).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: cursor
          in: query
          description: |-
            A pagination cursor returned by a previous call to this endpoint.
            Provide this cursor to retrieve the next set of results for the original query.

            For more information, see [Pagination](https://developer.squareup.com/docs/basics/api101/pagination).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: location_id
          in: query
          description: |-
            Limit results to the location supplied. By default, results are returned
            for all locations associated with the seller.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: status
          in: query
          description: |-
            If provided, only refunds with the given status are returned.
            For a list of refund status values, see [PaymentRefund](entity:PaymentRefund).

            Default: If omitted, refunds are returned regardless of their status.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: source_type
          in: query
          description: |-
            If provided, only returns refunds whose payments have the indicated source type.
            Current values include `CARD`, `BANK_ACCOUNT`, `WALLET`, `CASH`, and `EXTERNAL`.
            For information about these payment source types, see
            [Take Payments](https://developer.squareup.com/docs/payments-api/take-payments).

            Default: If omitted, refunds are returned regardless of the source type.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: |-
            The maximum number of results to be returned in a single page.

            It is possible to receive fewer results than the specified limit on a given page.

            If the supplied value is greater than 100, no more than 100 results are returned.

            Default: 100
          required: false
          style: form
          explode: true
          schema:
            type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentRefundsResponse'
      security:
        - oauth2:
            - PAYMENTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_service.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
    post:
      tags:
        - Refunds
      summary: RefundPayment
      description: "Refunds a payment. You can refund the entire payment amount or\
          \ a\nportion of it. You can use this endpoint to refund a card payment or\
          \ record a \nrefund of a cash or external payment. For more information, see\n\
          [Refund Payment](https://developer.squareup.com/docs/payments-api/refund-payments)."
      externalDocs:
        description: Refund a payment
        url: https://developer.squareup.com/docs/payments-api/refund-payments#refund-a-payment
      operationId: RefundPayment
      parameters: [ ]
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaymentResponse'
      security:
        - oauth2:
            - PAYMENTS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_service.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-endpoint-errors:
        - error-code: AMOUNT_TOO_HIGH
        - error-code: CARD_TOKEN_USED
        - error-code: INVALID_CARD
        - error-code: INVALID_CARD_DATA
        - error-code: PAYMENT_NOT_REFUNDABLE
        - error-code: REFUND_AMOUNT_INVALID
        - error-code: REFUND_DECLINED
        - error-code: VERSION_MISMATCH
  /v2/refunds/{refund_id}:
    get:
      tags:
        - Refunds
      summary: GetPaymentRefund
      description: Retrieves a specific refund using the `refund_id`.
      externalDocs:
        description: Retrieve refund information
        url: https://developer.squareup.com/docs/payments-api/refund-payments#retrieve-refund-information
      operationId: GetPaymentRefund
      parameters:
        - name: refund_id
          in: path
          description: The unique ID for the desired `PaymentRefund`.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentRefundResponse'
      security:
        - oauth2:
            - PAYMENTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_service.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
  /v2/merchants/{merchant_id}:
    get:
      tags:
        - Merchants
      summary: RetrieveMerchant
      description: Retrieves the `Merchant` object for the given `merchant_id`.
      externalDocs:
        description: Merchants API Overview
        url: https://developer.squareup.com/docs/merchants-api
      operationId: RetrieveMerchant
      parameters:
        - name: merchant_id
          in: path
          description: |-
            The ID of the merchant to retrieve. If the string "me" is supplied as the ID,
            then retrieve the merchant that is currently accessible to this call.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveMerchantResponse'
      security:
        - oauth2:
            - MERCHANT_PROFILE_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /roster/frontend/api/src/main/proto/squareup/roster/frontend/external/merchant.proto
      x-proto-sha: 11ffb68a94888890036e716f133f695e495ad962
  /v2/locations:
    get:
      tags:
        - Locations
      summary: ListLocations
      description: |-
        Provides details about all of the seller's [locations](https://developer.squareup.com/docs/locations-api),
        including those with an inactive status.
      externalDocs:
        description: Retrieve a list of locations
        url: https://developer.squareup.com/docs/locations-api#listlocations
      operationId: ListLocations
      parameters: [ ]
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
      security:
        - oauth2:
            - MERCHANT_PROFILE_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /roster/frontend/api/src/main/proto/squareup/roster/frontend/external/location.proto
      x-proto-sha: 11ffb68a94888890036e716f133f695e495ad962
      x-unitTests:
        - request:
            method: GET
            uri: /v2/locations
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            statusCode: "200"
            headers: { }
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: ListLocations
    post:
      tags:
        - Locations
      summary: CreateLocation
      description: |-
        Creates a [location](https://developer.squareup.com/docs/locations-api).
        Creating new locations allows for separate configuration of receipt layouts, item prices,
        and sales reports. Developers can use locations to separate sales activity through applications
        that integrate with Square from sales activity elsewhere in a seller's account.
        Locations created programmatically with the Locations API last forever and
        are visible to the seller for their own management. Therefore, ensure that
        each location has a sensible and unique name.
      externalDocs:
        description: Create a location
        url: https://developer.squareup.com/docs/locations-api#createalocation
      operationId: CreateLocation
      parameters: [ ]
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLocationRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLocationResponse'
      security:
        - oauth2:
            - MERCHANT_PROFILE_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /roster/frontend/api/src/main/proto/squareup/roster/frontend/external/location.proto
      x-proto-sha: 11ffb68a94888890036e716f133f695e495ad962
      x-endpoint-errors:
        - error-code: BAD_REQUEST
      x-is-sparse-update: true
  /v2/catalog/object/{object_id}:
    get:
      tags:
        - Catalog
      summary: RetrieveCatalogObject
      description: |-
        Returns a single [CatalogItem](entity:CatalogItem) as a
        [CatalogObject](entity:CatalogObject) based on the provided ID. The returned
        object includes all of the relevant [CatalogItem](entity:CatalogItem)
        information including: [CatalogItemVariation](entity:CatalogItemVariation)
        children, references to its
        [CatalogModifierList](entity:CatalogModifierList) objects, and the ids of
        any [CatalogTax](entity:CatalogTax) objects that apply to it.
      operationId: RetrieveCatalogObject
      parameters:
        - name: object_id
          in: path
          description: The object ID of any type of catalog objects to be retrieved.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: include_related_objects
          in: query
          description: |-
            If `true`, the response will include additional objects that are related to the
            requested objects. Related objects are defined as any objects referenced by ID by the results in the `objects` field
            of the response. These objects are put in the `related_objects` field. Setting this to `true` is
            helpful when the objects are needed for immediate display to a user.
            This process only goes one level deep. Objects referenced by the related objects will not be included. For example,

            if the `objects` field of the response contains a CatalogItem, its associated
            CatalogCategory objects, CatalogTax objects, CatalogImage objects and
            CatalogModifierLists will be returned in the `related_objects` field of the
            response. If the `objects` field of the response contains a CatalogItemVariation,
            its parent CatalogItem will be returned in the `related_objects` field of
            the response.

            Default value: `false`
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: catalog_version
          in: query
          description: |-
            Requests objects as of a specific version of the catalog. This allows you to retrieve historical
            versions of objects. The value to retrieve a specific version of an object can be found
            in the version field of [CatalogObject](entity:CatalogObject)s. If not included, results will
            be from the current version of the catalog.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int64
          x-release-status: BETA
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveCatalogObjectResponse'
      security:
        - oauth2:
            - ITEMS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/service.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-example-scenarios:
        scenarios:
          - name: Retrieve catalog object
            pathParameters:
              object_id: W62UWFY35CWMYGVWK6TWJDNI
            response:
              object:
                type: ITEM
                id: W62UWFY35CWMYGVWK6TWJDNI
                updated_at: 2016-11-16T22:25:24.878Z
                version: 1479335124878
                is_deleted: false
                present_at_all_locations: true
                item_data:
                  name: Tea
                  description: Hot Leaf Juice
                  category_id: BJNQCF2FJ6S6UIDT65ABHLRX
                  tax_ids:
                    - HURXQOOAIC4IZSI2BEXQRYFY
                  variations:
                    - type: ITEM_VARIATION
                      id: 2TZFAOHWGG7PAK2QEXWYPZSP
                      updated_at: 2016-11-16T22:25:24.878Z
                      version: 1479335124878
                      is_deleted: false
                      present_at_all_locations: true
                      item_variation_data:
                        item_id: W62UWFY35CWMYGVWK6TWJDNI
                        name: Mug
                        ordinal: 0
                        pricing_type: FIXED_PRICING
                        price_money:
                          amount: 150
                          currency: USD
          - name: Retrieve catalog object and include related objects
            pathParameters:
              object_id: W62UWFY35CWMYGVWK6TWJDNI
            queryParameters:
              include_related_objects: true
            response:
              object:
                type: ITEM
                id: W62UWFY35CWMYGVWK6TWJDNI
                updated_at: 2016-11-16T22:25:24.878Z
                version: 1479335124878
                is_deleted: false
                present_at_all_locations: true
                item_data:
                  name: Tea
                  description: Hot Leaf Juice
                  category_id: BJNQCF2FJ6S6UIDT65ABHLRX
                  tax_ids:
                    - HURXQOOAIC4IZSI2BEXQRYFY
                  variations:
                    - type: ITEM_VARIATION
                      id: 2TZFAOHWGG7PAK2QEXWYPZSP
                      updated_at: 2016-11-16T22:25:24.878Z
                      version: 1479335124878
                      is_deleted: false
                      present_at_all_locations: true
                      item_variation_data:
                        item_id: W62UWFY35CWMYGVWK6TWJDNI
                        name: Mug
                        ordinal: 0
                        pricing_type: FIXED_PRICING
                        price_money:
                          amount: 150
                          currency: USD
              related_objects:
                - type: CATEGORY
                  id: BJNQCF2FJ6S6UIDT65ABHLRX
                  updated_at: 2016-11-16T22:25:24.878Z
                  version: 1479335124878
                  is_deleted: false
                  present_at_all_locations: true
                  category_data:
                    name: Beverages
                - type: TAX
                  id: HURXQOOAIC4IZSI2BEXQRYFY
                  updated_at: 2016-11-16T22:25:24.878Z
                  version: 1479335124878
                  is_deleted: false
                  present_at_all_locations: true
                  tax_data:
                    name: Sales Tax
                    calculation_phase: TAX_SUBTOTAL_PHASE
                    inclusion_type: ADDITIVE
                    percentage: "5.0"
                    enabled: true
    delete:
      tags:
        - Catalog
      summary: DeleteCatalogObject
      description: |-
        Deletes a single [CatalogObject](entity:CatalogObject) based on the
        provided ID and returns the set of successfully deleted IDs in the response.
        Deletion is a cascading event such that all children of the targeted object
        are also deleted. For example, deleting a [CatalogItem](entity:CatalogItem)
        will also delete all of its
        [CatalogItemVariation](entity:CatalogItemVariation) children.
      operationId: DeleteCatalogObject
      parameters:
        - name: object_id
          in: path
          description: |-
            The ID of the catalog object to be deleted. When an object is deleted, other
            objects in the graph that depend on that object will be deleted as well (for example, deleting a
            catalog item will delete its catalog item variations).
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCatalogObjectResponse'
      security:
        - oauth2:
            - ITEMS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/service.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-example-scenarios:
        scenarios:
          - name: Delete a catalog object
            pathParameters:
              object_id: 7SB3ZQYJ5GDMVFL7JK46JCHT
            response:
              deleted_object_ids:
                - 7SB3ZQYJ5GDMVFL7JK46JCHT
                - KQLFFHA6K6J3YQAQAWDQAL57
              deleted_at: 2016-11-16T22:25:24.878Z
  /v2/payments:
    get:
      tags:
        - Payments
      summary: ListPayments
      description: |-
        Retrieves a list of payments taken by the account making the request.
        
        Results are eventually consistent, and new payments or changes to payments might take several
        seconds to appear.
        
        The maximum results per page is 100.
      externalDocs:
        description: Retrieve Payments and Refunds
        url: https://developer.squareup.com/docs/payments-api/retrieve-payments
      operationId: ListPayments
      parameters:
        - name: begin_time
          in: query
          description: |-
            The timestamp for the beginning of the reporting period, in RFC 3339 format.
            Inclusive. Default: The current time minus one year.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: end_time
          in: query
          description: |-
            The timestamp for the end of the reporting period, in RFC 3339 format.

            Default: The current time.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort_order
          in: query
          description: |-
            The order in which results are listed:
            - `ASC` - Oldest to newest.
            - `DESC` - Newest to oldest (default).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: cursor
          in: query
          description: |-
            A pagination cursor returned by a previous call to this endpoint.
            Provide this cursor to retrieve the next set of results for the original query.

            For more information, see [Pagination](https://developer.squareup.com/docs/basics/api101/pagination).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: location_id
          in: query
          description: |-
            Limit results to the location supplied. By default, results are returned
            for the default (main) location associated with the seller.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: total
          in: query
          description: The exact amount in the `total_money` for a payment.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int64
        - name: last_4
          in: query
          description: The last four digits of a payment card.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: card_brand
          in: query
          description: The brand of the payment card (for example, VISA).
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: "The maximum number of results to be returned in a single page.\n\
            It is possible to receive fewer results than the specified limit on a given\
            \ page.\n\nThe default value of 100 is also the maximum allowed value. If\
            \ the provided value is \ngreater than 100, it is ignored and the default\
            \ value is used instead.\n\nDefault: `100`"
          required: false
          style: form
          explode: true
          schema:
            type: integer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentsResponse'
      security:
        - oauth2:
            - PAYMENTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_service.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
    post:
      tags:
        - Payments
      summary: CreatePayment
      description: "Creates a payment using the provided source. You can use this\
          \ endpoint \nto charge a card (credit/debit card or    \nSquare gift card)\
          \ or record a payment that the seller received outside of Square \n(cash payment\
          \ from a buyer or a payment that an external entity \nprocessed on behalf\
          \ of the seller).\n\nThe endpoint creates a \n`Payment` object and returns\
          \ it in the response."
      externalDocs:
        description: Take Payments
        url: https://developer.squareup.com/docs/payments-api/take-payments
      operationId: CreatePayment
      parameters: [ ]
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentResponse'
      security:
        - oauth2:
            - PAYMENTS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_service.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-endpoint-errors:
        - error-code: ADDRESS_VERIFICATION_FAILURE
        - error-code: ALLOWABLE_PIN_TRIES_EXCEEDED
        - error-code: BAD_EXPIRATION
        - error-code: CARDHOLDER_INSUFFICIENT_PERMISSIONS
        - error-code: CARD_DECLINED_VERIFICATION_REQUIRED
        - error-code: CARD_EXPIRED
        - error-code: CARD_NOT_SUPPORTED
        - error-code: CARD_PROCESSING_NOT_ENABLED
        - error-code: CARD_TOKEN_EXPIRED
        - error-code: CARD_TOKEN_USED
        - error-code: CHIP_INSERTION_REQUIRED
        - error-code: CVV_FAILURE
        - error-code: EXPIRATION_FAILURE
        - error-code: GENERIC_DECLINE
        - error-code: GIFT_CARD_AVAILABLE_AMOUNT
        - error-code: INSUFFICIENT_FUNDS
        - error-code: INSUFFICIENT_PERMISSIONS
        - error-code: INVALID_ACCOUNT
        - error-code: INVALID_CARD
        - error-code: INVALID_CARD_DATA
        - error-code: INVALID_EMAIL_ADDRESS
        - error-code: INVALID_EXPIRATION
        - error-code: INVALID_FEES
        - error-code: INVALID_LOCATION
        - error-code: INVALID_PIN
        - error-code: INVALID_POSTAL_CODE
        - error-code: MANUALLY_ENTERED_PAYMENT_NOT_SUPPORTED
        - error-code: PAN_FAILURE
        - error-code: PAYMENT_AMOUNT_MISMATCH
        - error-code: PAYMENT_LIMIT_EXCEEDED
        - error-code: TEMPORARY_ERROR
        - error-code: TRANSACTION_LIMIT
        - error-code: VOICE_FAILURE

components:
  schemas:
    ACHDetails:
      type: object
      properties:
        routing_number:
          maxLength: 50
          type: string
          description: The routing number for the bank account.
        account_number_suffix:
          maxLength: 4
          minLength: 1
          type: string
          description: The last few digits of the bank account number.
        account_type:
          maxLength: 50
          type: string
          description: |-
            The type of the bank account performing the transfer. The account type can be `CHECKING`,
            `SAVINGS`, or `UNKNOWN`.
      description: ACH-specific details about `BANK_ACCOUNT` type payments with the
        `transfer_type` of `ACH`.
      x-property-order:
        - routing_number
        - account_number_suffix
        - account_type
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: ACHDetails
    AfterpayDetails:
      type: object
      properties:
        email_address:
          maxLength: 255
          type: string
          description: Email address on the buyer's Afterpay account.
      description: Additional details about Afterpay payments.
      x-property-order:
        - email_address
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: AfterpayDetails
    ApplicationDetails:
      type: object
      properties:
        square_product:
          $ref: '#/components/schemas/ApplicationDetailsExternalSquareProduct'
        application_id:
          type: string
          description: "The Square ID assigned to the application used to take the\
                \ payment. \nApplication developers can use this information to identify\
                \ payments that \ntheir application processed. \nFor example, if a developer\
                \ uses a custom application to process payments, \nthis field contains\
                \ the application ID from the Developer Dashboard. \nIf a seller uses\
                \ a [Square App Marketplace](https://developer.squareup.com/docs/app-marketplace)\
                \ \napplication to process payments, the field contains the corresponding\
                \ application ID."
      description: Details about the application that took the payment.
      x-property-order:
        - square_product
        - application_id
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: ApplicationDetails
    ApplicationDetailsExternalSquareProduct:
      type: string
      description: A list of products to return to external callers.
      enum:
        - APPOINTMENTS
        - ECOMMERCE_API
        - INVOICES
        - ONLINE_STORE
        - OTHER
        - RESTAURANTS
        - RETAIL
        - SQUARE_POS
        - TERMINAL_API
        - VIRTUAL_TERMINAL
      x-enum-elements:
        - name: APPOINTMENTS
          description: ""
          x-release-status: PUBLIC
        - name: ECOMMERCE_API
          description: ""
          x-release-status: PUBLIC
        - name: INVOICES
          description: ""
          x-release-status: PUBLIC
        - name: ONLINE_STORE
          description: ""
          x-release-status: PUBLIC
        - name: OTHER
          description: ""
          x-release-status: PUBLIC
        - name: RESTAURANTS
          description: ""
          x-release-status: PUBLIC
        - name: RETAIL
          description: ""
          x-release-status: PUBLIC
        - name: SQUARE_POS
          description: ""
          x-release-status: PUBLIC
        - name: TERMINAL_API
          description: ""
          x-release-status: PUBLIC
        - name: VIRTUAL_TERMINAL
          description: ""
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: ApplicationDetailsExternalSquareProduct
    BankAccountPaymentDetails:
      type: object
      properties:
        bank_name:
          maxLength: 100
          type: string
          description: The name of the bank associated with the bank account.
        transfer_type:
          maxLength: 50
          type: string
          description: The type of the bank transfer. The type can be `ACH` or `UNKNOWN`.
        account_ownership_type:
          maxLength: 50
          type: string
          description: |-
            The ownership type of the bank account performing the transfer.
            The type can be `INDIVIDUAL`, `COMPANY`, or `UNKNOWN`.
        fingerprint:
          maxLength: 255
          type: string
          description: |-
            Uniquely identifies the bank account for this seller and can be used
            to determine if payments are from the same bank account.
        country:
          maxLength: 2
          minLength: 2
          type: string
          description: The two-letter ISO code representing the country the bank account
            is located in.
        statement_description:
          maxLength: 1000
          type: string
          description: The statement description as sent to the bank.
        ach_details:
          $ref: '#/components/schemas/ACHDetails'
        errors:
          type: array
          description: Information about errors encountered during the request.
          items:
            $ref: '#/components/schemas/Error'
      description: Additional details about BANK_ACCOUNT type payments.
      x-property-order:
        - bank_name
        - transfer_type
        - account_ownership_type
        - fingerprint
        - country
        - statement_description
        - ach_details
        - errors
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: BankAccountPaymentDetails
    BatchRetrieveOrdersRequest:
      required:
        - order_ids
      type: object
      properties:
        location_id:
          type: string
          description: |-
            The ID of the location for these orders. This field is optional: omit it to retrieve
            orders within the scope of the current authorization's merchant ID.
        order_ids:
          type: array
          description: The IDs of the orders to retrieve. A maximum of 100 orders
            can be retrieved per request.
          items:
            minLength: 1
            type: string
      description: |-
        Defines the fields that are included in requests to the
        `BatchRetrieveOrders` endpoint.
      example:
        location_id: 057P5VYJ4A5X1
        order_ids:
          - CAISEM82RcpmcFBM0TfOyiHV3es
          - CAISENgvlJ6jLWAzERDzjyHVybY
      x-property-order:
        - location_id
        - order_ids
        - merchant_id
        - resolve_returns
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: BatchRetrieveOrdersRequest
    BatchRetrieveOrdersResponse:
      type: object
      properties:
        orders:
          type: array
          description: The requested orders. This will omit any requested orders that
            do not exist.
          items:
            $ref: '#/components/schemas/Order'
        errors:
          type: array
          description: Any errors that occurred during the request.
          items:
            $ref: '#/components/schemas/Error'
      description: |-
        Defines the fields that are included in the response body of
        a request to the `BatchRetrieveOrders` endpoint.
      example:
        orders:
          - id: CAISEM82RcpmcFBM0TfOyiHV3es
            location_id: 057P5VYJ4A5X1
            reference_id: my-order-001
            line_items:
              - uid: 945986d1-9586-11e6-ad5a-28cfe92138cf
                name: Awesome product
                quantity: "1"
                base_price_money:
                  amount: 1599
                  currency: USD
                total_money:
                  amount: 1599
                  currency: USD
              - uid: a8f4168c-9586-11e6-bdf0-28cfe92138cf
                name: Another awesome product
                quantity: "3"
                base_price_money:
                  amount: 2000
                  currency: USD
                total_money:
                  amount: 6000
                  currency: USD
            total_money:
              amount: 7599
              currency: USD
      x-property-order:
        - orders
        - errors
        - unconvertible_transaction_ids
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /orders/orders-service-proto/src/main/proto/squareup/omg/service.proto
      x-proto-sha: 43aa42a4f8fcf3322b75483e78a370f2133aaf14
      x-object-name: BatchRetrieveOrdersResponse
    BusinessHours:
      type: object
      properties:
        periods:
          type: array
          description: The list of time periods during which the business is open.
            There can be at most 10 periods per day.
          items:
            $ref: '#/components/schemas/BusinessHoursPeriod'
      description: The hours of operation for a location.
      x-property-order:
        - periods
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/resources/location.proto
      x-proto-sha: 8239a09bf9fffc9b344c259c62b98d688ef2d107
      x-object-name: BusinessHours
    BusinessHoursPeriod:
      type: object
      properties:
        day_of_week:
          $ref: '#/components/schemas/DayOfWeek'
        start_local_time:
          type: string
          description: |-
            The start time of a business hours period, specified in local time using partial-time
            RFC 3339 format. For example, `8:30:00` for a period starting at 8:30 in the morning.
            Note that the seconds value is always :00, but it is appended for conformance to the RFC.
        end_local_time:
          type: string
          description: |-
            The end time of a business hours period, specified in local time using partial-time
            RFC 3339 format. For example, `21:00:00` for a period ending at 9:00 in the evening.
            Note that the seconds value is always :00, but it is appended for conformance to the RFC.
      description: Represents a period of time during which a business location is
        open.
      x-property-order:
        - day_of_week
        - start_local_time
        - end_local_time
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/resources/location.proto
      x-proto-sha: 8239a09bf9fffc9b344c259c62b98d688ef2d107
      x-object-name: BusinessHoursPeriod
    BuyNowPayLaterDetails:
      type: object
      properties:
        brand:
          maxLength: 50
          type: string
          description: |-
            The brand used for the Buy Now Pay Later payment.
            The brand can be `AFTERPAY`, `CLEARPAY` or `UNKNOWN`.
        afterpay_details:
          $ref: '#/components/schemas/AfterpayDetails'
        clearpay_details:
          $ref: '#/components/schemas/ClearpayDetails'
      description: Additional details about a Buy Now Pay Later payment type.
      x-property-order:
        - brand
        - afterpay_details
        - clearpay_details
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: BuyNowPayLaterDetails
    DayOfWeek:
      type: string
      description: Indicates the specific day  of the week.
      enum:
        - SUN
        - MON
        - TUE
        - WED
        - THU
        - FRI
        - SAT
      x-enum-elements:
        - name: SUN
          description: Sunday
          x-release-status: PUBLIC
        - name: MON
          description: Monday
          x-release-status: PUBLIC
        - name: TUE
          description: Tuesday
          x-release-status: PUBLIC
        - name: WED
          description: Wednesday
          x-release-status: PUBLIC
        - name: THU
          description: Thursday
          x-release-status: PUBLIC
        - name: FRI
          description: Friday
          x-release-status: PUBLIC
        - name: SAT
          description: Saturday
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/common/day_of_week.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: DayOfWeek
    Card:
      type: object
      properties:
        id:
          maxLength: 64
          type: string
          description: Unique ID for this card. Generated by Square.
          readOnly: true
        card_brand:
          $ref: '#/components/schemas/CardBrand'
        last_4:
          maxLength: 4
          type: string
          description: The last 4 digits of the card number.
          readOnly: true
        exp_month:
          type: integer
          description: The expiration month of the associated card as an integer between
            1 and 12.
          format: int64
        exp_year:
          type: integer
          description: The four-digit year of the card's expiration date.
          format: int64
        cardholder_name:
          maxLength: 96
          type: string
          description: The name of the cardholder.
        billing_address:
          $ref: '#/components/schemas/Address'
        fingerprint:
          maxLength: 255
          type: string
          description: |-
            Intended as a Square-assigned identifier, based
            on the card number, to identify the card across multiple locations within a
            single application.
          readOnly: true
        customer_id:
          type: string
          description: '**Required** The ID of a customer created using the Customers
                API to be associated with the card.'
        merchant_id:
          type: string
          description: The ID of the merchant associated with the card.
          readOnly: true
        reference_id:
          maxLength: 128
          type: string
          description: |-
            An optional user-defined reference ID that associates this card with
            another entity in an external system. For example, a customer ID from an
            external customer management system.
        enabled:
          type: boolean
          description: Indicates whether or not a card can be used for payments.
          readOnly: true
        card_type:
          $ref: '#/components/schemas/CardType'
        prepaid_type:
          $ref: '#/components/schemas/CardPrepaidType'
        bin:
          maxLength: 6
          type: string
          description: |-
            The first six digits of the card number, known as the Bank Identification Number (BIN). Only the Payments API
            returns this field.
          readOnly: true
        version:
          type: integer
          description: |-
            Current version number of the card. Increments with each card update. Requests to update an
            existing Card object will be rejected unless the version in the request matches the current
            version for the Card.
          format: int64
        card_co_brand:
          $ref: '#/components/schemas/CardCoBrand'
      description: |-
        Represents the payment details of a card to be used for payments. These
        details are determined by the payment token generated by Web Payments SDK.
      x-property-order:
        - id
        - card_brand
        - last_4
        - exp_month
        - exp_year
        - cardholder_name
        - billing_address
        - fingerprint
        - customer_id
        - buyer_id
        - merchant_id
        - reference_id
        - enabled
        - card_type
        - prepaid_type
        - bin
        - created_at
        - disabled_at
        - version
        - product_history
        - fidelius_token
        - payment_account_reference
        - pan_sequence_number
        - verification_payment_id
        - terminal_action_id
        - card_co_brand
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/resources/card.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: Card
    CardBrand:
      type: string
      description: Indicates a card's brand, such as `VISA` or `MASTERCARD`.
      enum:
        - OTHER_BRAND
        - VISA
        - MASTERCARD
        - AMERICAN_EXPRESS
        - DISCOVER
        - DISCOVER_DINERS
        - JCB
        - CHINA_UNIONPAY
        - SQUARE_GIFT_CARD
        - SQUARE_CAPITAL_CARD
        - INTERAC
        - EFTPOS
        - FELICA
        - EBT
      x-enum-elements:
        - name: OTHER_BRAND
          description: ""
          x-release-status: PUBLIC
        - name: VISA
          description: ""
          x-release-status: PUBLIC
        - name: MASTERCARD
          description: ""
          x-release-status: PUBLIC
        - name: AMERICAN_EXPRESS
          description: ""
          x-release-status: PUBLIC
        - name: DISCOVER
          description: ""
          x-release-status: PUBLIC
        - name: DISCOVER_DINERS
          description: ""
          x-release-status: PUBLIC
        - name: JCB
          description: ""
          x-release-status: PUBLIC
        - name: CHINA_UNIONPAY
          description: ""
          x-release-status: PUBLIC
        - name: SQUARE_GIFT_CARD
          description: ""
          x-release-status: PUBLIC
        - name: SQUARE_CAPITAL_CARD
          description: ""
          x-release-status: PUBLIC
        - name: INTERAC
          description: ""
          x-release-status: PUBLIC
        - name: EFTPOS
          description: ""
          x-release-status: PUBLIC
        - name: FELICA
          description: ""
          x-release-status: PUBLIC
        - name: EBT
          description: ""
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/resources/card.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: CardBrand
    CardCoBrand:
      type: string
      description: Indicates the brand for a co-branded card.
      enum:
        - UNKNOWN
        - AFTERPAY
        - CLEARPAY
      x-enum-elements:
        - name: UNKNOWN
          description: ""
          x-release-status: PUBLIC
        - name: AFTERPAY
          description: ""
          x-release-status: PUBLIC
        - name: CLEARPAY
          description: ""
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/resources/card.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: CardCoBrand
    CardPrepaidType:
      type: string
      description: Indicates a card's prepaid type, such as `NOT_PREPAID` or `PREPAID`.
      enum:
        - UNKNOWN_PREPAID_TYPE
        - NOT_PREPAID
        - PREPAID
      x-enum-elements:
        - name: UNKNOWN_PREPAID_TYPE
          description: ""
          x-release-status: PUBLIC
        - name: NOT_PREPAID
          description: ""
          x-release-status: PUBLIC
        - name: PREPAID
          description: ""
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/resources/card.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: CardPrepaidType
    CardType:
      type: string
      description: Indicates a card's type, such as `CREDIT` or `DEBIT`.
      enum:
        - UNKNOWN_CARD_TYPE
        - CREDIT
        - DEBIT
      x-enum-elements:
        - name: UNKNOWN_CARD_TYPE
          description: ""
          x-release-status: PUBLIC
        - name: CREDIT
          description: ""
          x-release-status: PUBLIC
        - name: DEBIT
          description: ""
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/resources/card.proto
      x-proto-sha: 0dc06ead30b08ce7dca3c13fb793c722ee6d5160
      x-object-name: CardType
    CardPaymentDetails:
      type: object
      properties:
        status:
          maxLength: 50
          type: string
          description: |-
            The card payment's current state. The state can be AUTHORIZED, CAPTURED, VOIDED, or
            FAILED.
        card:
          $ref: '#/components/schemas/Card'
        entry_method:
          maxLength: 50
          type: string
          description: |-
            The method used to enter the card's details for the payment. The method can be
            `KEYED`, `SWIPED`, `EMV`, `ON_FILE`, or `CONTACTLESS`.
        cvv_status:
          maxLength: 50
          type: string
          description: |-
            The status code returned from the Card Verification Value (CVV) check. The code can be
            `CVV_ACCEPTED`, `CVV_REJECTED`, or `CVV_NOT_CHECKED`.
        avs_status:
          maxLength: 50
          type: string
          description: |-
            The status code returned from the Address Verification System (AVS) check. The code can be
            `AVS_ACCEPTED`, `AVS_REJECTED`, or `AVS_NOT_CHECKED`.
        auth_result_code:
          maxLength: 10
          type: string
          description: |-
            The status code returned by the card issuer that describes the payment's
            authorization status.
        application_identifier:
          maxLength: 32
          type: string
          description: For EMV payments, the application ID identifies the EMV application
            used for the payment.
        application_name:
          maxLength: 16
          type: string
          description: For EMV payments, the human-readable name of the EMV application
            used for the payment.
        application_cryptogram:
          maxLength: 16
          type: string
          description: For EMV payments, the cryptogram generated for the payment.
        verification_method:
          maxLength: 50
          type: string
          description: |-
            For EMV payments, the method used to verify the cardholder's identity. The method can be
            `PIN`, `SIGNATURE`, `PIN_AND_SIGNATURE`, `ON_DEVICE`, or `NONE`.
        verification_results:
          maxLength: 50
          type: string
          description: |-
            For EMV payments, the results of the cardholder verification. The result can be
            `SUCCESS`, `FAILURE`, or `UNKNOWN`.
        statement_description:
          maxLength: 50
          type: string
          description: |-
            The statement description sent to the card networks.
            
            Note: The actual statement description varies and is likely to be truncated and appended with
            additional information on a per issuer basis.
        device_details:
          $ref: '#/components/schemas/DeviceDetails'
        card_payment_timeline:
          $ref: '#/components/schemas/CardPaymentTimeline'
        refund_requires_card_presence:
          type: boolean
          description: |-
            Whether the card must be physically present for the payment to
            be refunded.  If set to `true`, the card must be present.
          x-release-status: BETA
        errors:
          type: array
          description: Information about errors encountered during the request.
          items:
            $ref: '#/components/schemas/Error'
      description: Reflects the current status of a card payment. Contains only non-confidential
        information.
      x-property-order:
        - status
        - card
        - entry_method
        - cvv_status
        - avs_status
        - auth_result_code
        - application_identifier
        - application_name
        - application_cryptogram
        - verification_method
        - verification_results
        - statement_description
        - device_details
        - pan_fidelius_token
        - card_payment_timeline
        - refund_requires_card_presence
        - account_type
        - signature_behavior
        - application_transaction_counter
        - remaining_balance_amount_money
        - errors
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: CardPaymentDetails
    CardPaymentTimeline:
      type: object
      properties:
        authorized_at:
          type: string
          description: The timestamp when the payment was authorized, in RFC 3339
            format.
        captured_at:
          type: string
          description: The timestamp when the payment was captured, in RFC 3339 format.
        voided_at:
          type: string
          description: The timestamp when the payment was voided, in RFC 3339 format.
      description: The timeline for card payments.
      x-property-order:
        - authorized_at
        - captured_at
        - voided_at
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: CardPaymentTimeline
    CashAppDetails:
      type: object
      properties:
        buyer_full_name:
          maxLength: 255
          type: string
          description: The name of the Cash App account holder.
        buyer_country_code:
          maxLength: 2
          minLength: 2
          type: string
          description: |-
            The country of the Cash App account holder, in ISO 3166-1-alpha-2 format.
            
            For possible values, see [Country](entity:Country).
        buyer_cashtag:
          maxLength: 21
          minLength: 1
          type: string
          description: $Cashtag of the Cash App account holder.
          readOnly: true
      description: Additional details about `WALLET` type payments with the `brand`
        of `CASH_APP`.
      x-property-order:
        - buyer_full_name
        - buyer_country_code
        - buyer_cashtag
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: CashAppDetails
    CashPaymentDetails:
      required:
        - buyer_supplied_money
      type: object
      properties:
        buyer_supplied_money:
          $ref: '#/components/schemas/Money'
        change_back_money:
          $ref: '#/components/schemas/Money'
      description: "Stores details about a cash payment. Contains only non-confidential\
            \ information. For more information, see \n[Take Cash Payments](https://developer.squareup.com/docs/payments-api/take-payments/cash-payments)."
      x-property-order:
        - buyer_supplied_money
        - change_back_money
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /pago/pago-proto/src/main/proto/squareup/pago/external/payments_model.proto
      x-proto-sha: 495d56e2121254e62dae996ec2126fee007e4ecd
      x-object-name: CashPaymentDetails
    CatalogCategory:
      type: object
      properties:
        name:
          maxLength: 255
          type: string
          description: The category name. This is a searchable attribute for use in
            applicable query filters, and its value length is of Unicode code points.
        image_ids:
          type: array
          description: |-
            The IDs of images associated with this `CatalogCategory` instance.
            Currently these images are not displayed by Square, but are free to be displayed in 3rd party applications.
          items:
            type: string
          x-release-status: BETA
      description: A category to which a `CatalogItem` instance belongs.
      example:
        object:
          type: CATEGORY
          id: '#Beverages'
          present_at_all_locations: true
          category_data:
            name: Beverages
      x-property-order:
        - name
        - ordinal
        - abbreviation
        - label_color
        - image_ids
        - location_overrides
        - category_type
        - parent_category
        - is_top_level
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogCategory
    CatalogCustomAttributeValue:
      type: object
      properties:
        name:
          type: string
          description: The name of the custom attribute.
        string_value:
          type: string
          description: The string value of the custom attribute.  Populated if `type`
            = `STRING`.
        custom_attribute_definition_id:
          type: string
          description: The id of the [CatalogCustomAttributeDefinition](entity:CatalogCustomAttributeDefinition)
            this value belongs to.
          readOnly: true
        type:
          $ref: '#/components/schemas/CatalogCustomAttributeDefinitionType'
        number_value:
          type: string
          description: |-
            Populated if `type` = `NUMBER`. Contains a string
            representation of a decimal number, using a `.` as the decimal separator.
        boolean_value:
          type: boolean
          description: A `true` or `false` value. Populated if `type` = `BOOLEAN`.
        selection_uid_values:
          type: array
          description: One or more choices from `allowed_selections`. Populated if
            `type` = `SELECTION`.
          items:
            type: string
        key:
          type: string
          description: A copy of key from the associated `CatalogCustomAttributeDefinition`.
          readOnly: true
      description: |-
        An instance of a custom attribute. Custom attributes can be defined and
        added to `ITEM` and `ITEM_VARIATION` type catalog objects.
        [Read more about custom attributes](https://developer.squareup.com/docs/catalog-api/add-custom-attributes).
      x-property-order:
        - name
        - string_value
        - int_value
        - custom_attribute_definition_id
        - type
        - number_value
        - boolean_value
        - selection_uid_values
        - key
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogCustomAttributeValue
    CatalogCustomAttributeDefinition:
      required:
        - allowed_object_types
        - name
        - type
      type: object
      properties:
        type:
          $ref: '#/components/schemas/CatalogCustomAttributeDefinitionType'
        name:
          maxLength: 255
          minLength: 1
          type: string
          description: |2-
             The name of this definition for API and seller-facing UI purposes.
            The name must be unique within the (merchant, application) pair. Required.
            May not be empty and may not exceed 255 characters. Can be modified after creation.
        description:
          maxLength: 255
          type: string
          description: |-
            Seller-oriented description of the meaning of this Custom Attribute,
            any constraints that the seller should observe, etc. May be displayed as a tooltip in Square UIs.
        source_application:
          $ref: '#/components/schemas/SourceApplication'
        allowed_object_types:
          type: array
          description: |-
            The set of Catalog Object Types that this Custom Attribute may be applied to.
            Currently, only `ITEM` and `ITEM_VARIATION` are allowed. At least one type must be included.
            See [CatalogObjectType](#type-catalogobjecttype) for possible values
          items:
            $ref: '#/components/schemas/CatalogObjectType'
        seller_visibility:
          $ref: '#/components/schemas/CatalogCustomAttributeDefinitionSellerVisibility'
        app_visibility:
          $ref: '#/components/schemas/CatalogCustomAttributeDefinitionAppVisibility'
        string_config:
          $ref: '#/components/schemas/CatalogCustomAttributeDefinitionStringConfig'
        number_config:
          $ref: '#/components/schemas/CatalogCustomAttributeDefinitionNumberConfig'
        selection_config:
          $ref: '#/components/schemas/CatalogCustomAttributeDefinitionSelectionConfig'
        custom_attribute_usage_count:
          type: integer
          description: |-
            The number of custom attributes that reference this
            custom attribute definition. Set by the server in response to a ListCatalog
            request with `include_counts` set to `true`.  If the actual count is greater
            than 100, `custom_attribute_usage_count` will be set to `100`.
          readOnly: true
        key:
          maxLength: 60
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]*$
          type: string
          description: |-
            The name of the desired custom attribute key that can be used to access
            the custom attribute value on catalog objects. Cannot be modified after the
            custom attribute definition has been created.
            Must be between 1 and 60 characters, and may only contain the characters `[a-zA-Z0-9_-]`.
      description: |-
        Contains information defining a custom attribute. Custom attributes are
        intended to store additional information about a catalog object or to associate a
        catalog object with an entity in another system. Do not use custom attributes
        to store any sensitive information (personally identifiable information, card details, etc.).
        [Read more about custom attributes](https://developer.squareup.com/docs/catalog-api/add-custom-attributes)
      x-property-order:
        - type
        - name
        - description
        - source_application
        - allowed_object_types
        - seller_visibility
        - app_visibility
        - string_config
        - number_config
        - selection_config
        - custom_attribute_usage_count
        - key
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogCustomAttributeDefinition
    CatalogCustomAttributeDefinitionNumberConfig:
      type: object
      properties:
        precision:
          maximum: 5
          minimum: 0
          type: integer
          description: |-
            An integer between 0 and 5 that represents the maximum number of
            positions allowed after the decimal in number custom attribute values
            For example:
            
            - if the precision is 0, the quantity can be 1, 2, 3, etc.
            - if the precision is 1, the quantity can be 0.1, 0.2, etc.
            - if the precision is 2, the quantity can be 0.01, 0.12, etc.
            
            Default: 5
      x-property-order:
        - precision
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogCustomAttributeDefinitionNumberConfig
    CatalogCustomAttributeDefinitionSelectionConfig:
      type: object
      properties:
        max_allowed_selections:
          maximum: 100
          type: integer
          description: |-
            The maximum number of selections that can be set. The maximum value for this
            attribute is 100. The default value is 1. The value can be modified, but changing the value will not
            affect existing custom attribute values on objects. Clients need to
            handle custom attributes with more selected values than allowed by this limit.
        allowed_selections:
          maxItems: 100
          type: array
          description: |-
            The set of valid `CatalogCustomAttributeSelections`. Up to a maximum of 100
            selections can be defined. Can be modified.
          items:
            $ref: '#/components/schemas/CatalogCustomAttributeDefinitionSelectionConfigCustomAttributeSelection'
      description: Configuration associated with `SELECTION`-type custom attribute
        definitions.
      x-property-order:
        - max_allowed_selections
        - allowed_selections
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogCustomAttributeDefinitionSelectionConfig
    CatalogCustomAttributeDefinitionSelectionConfigCustomAttributeSelection:
      required:
        - name
      type: object
      properties:
        uid:
          type: string
          description: Unique ID set by Square.
        name:
          maxLength: 255
          minLength: 1
          type: string
          description: Selection name, unique within `allowed_selections`.
      description: A named selection for this `SELECTION`-type custom attribute definition.
      x-property-order:
        - uid
        - name
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogCustomAttributeDefinitionSelectionConfigCustomAttributeSelection
    CatalogCustomAttributeDefinitionAppVisibility:
      type: string
      description: |-
        Defines the visibility of a custom attribute to applications other than their
        creating application.
      enum:
        - APP_VISIBILITY_DO_NOT_USE
        - APP_VISIBILITY_HIDDEN
        - APP_VISIBILITY_READ_ONLY
        - APP_VISIBILITY_READ_WRITE_VALUES
      x-enum-elements:
        - name: APP_VISIBILITY_HIDDEN
          description: Other applications cannot read this custom attribute.
          x-release-status: BETA
        - name: APP_VISIBILITY_READ_ONLY
          description: |-
            Other applications can read this custom attribute definition and
            values.
          x-release-status: BETA
        - name: APP_VISIBILITY_READ_WRITE_VALUES
          description: |-
            Other applications can read and write custom attribute values on objects.
            They can read but cannot edit the custom attribute definition.
          x-release-status: BETA
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogCustomAttributeDefinitionAppVisibility
    CatalogCustomAttributeDefinitionStringConfig:
      type: object
      properties:
        enforce_uniqueness:
          type: boolean
          description: |-
            If true, each Custom Attribute instance associated with this Custom Attribute
            Definition must have a unique value within the seller's catalog. For
            example, this may be used for a value like a SKU that should not be
            duplicated within a seller's catalog. May not be modified after the
            definition has been created.
      description: Configuration associated with Custom Attribute Definitions of type
        `STRING`.
      x-property-order:
        - enforce_uniqueness
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogCustomAttributeDefinitionStringConfig
    CatalogDiscount:
      type: object
      properties:
        name:
          maxLength: 255
          type: string
          description: The discount name. This is a searchable attribute for use in
            applicable query filters, and its value length is of Unicode code points.
        discount_type:
          $ref: '#/components/schemas/CatalogDiscountType'
        percentage:
          type: string
          description: |-
            The percentage of the discount as a string representation of a decimal number, using a `.` as the decimal
            separator and without a `%` sign. A value of `7.5` corresponds to `7.5%`. Specify a percentage of `0` if `discount_type`
            is `VARIABLE_PERCENTAGE`.
            
            Do not use this field for amount-based or variable discounts.
        amount_money:
          $ref: '#/components/schemas/Money'
        pin_required:
          type: boolean
          description: |-
            Indicates whether a mobile staff member needs to enter their PIN to apply the
            discount to a payment in the Square Point of Sale app.
        label_color:
          type: string
          description: The color of the discount display label in the Square Point
            of Sale app. This must be a valid hex color code.
        modify_tax_basis:
          $ref: '#/components/schemas/CatalogDiscountModifyTaxBasis'
        maximum_amount_money:
          $ref: '#/components/schemas/Money'
      description: A discount applicable to items.
      example:
        object:
          type: DISCOUNT
          id: '#Maythe4th'
          present_at_all_locations: true
          discount_data:
            name: Welcome to the Dark(Roast) Side!
            discount_type: FIXED_PERCENTAGE
            percentage: "5.4"
            pin_required: false
            label_color: red
      x-property-order:
        - name
        - discount_type
        - percentage
        - amount_money
        - pin_required
        - label_color
        - application_method
        - comp_ordinal
        - modify_tax_basis
        - maximum_amount_money
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogDiscount
    CatalogDiscountType:
      type: string
      description: How to apply a CatalogDiscount to a CatalogItem.
      enum:
        - FIXED_PERCENTAGE
        - FIXED_AMOUNT
        - VARIABLE_PERCENTAGE
        - VARIABLE_AMOUNT
      x-enum-elements:
        - name: FIXED_PERCENTAGE
          description: Apply the discount as a fixed percentage (e.g., 5%) off the item
            price.
          x-release-status: PUBLIC
        - name: FIXED_AMOUNT
          description: Apply the discount as a fixed amount (e.g., $1.00) off the item
            price.
          x-release-status: PUBLIC
        - name: VARIABLE_PERCENTAGE
          description: Apply the discount as a variable percentage off the item price.
            The percentage will be specified at the time of sale.
          x-release-status: PUBLIC
        - name: VARIABLE_AMOUNT
          description: Apply the discount as a variable amount off the item price. The
            amount will be specified at the time of sale.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/enums.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogDiscountType
    CatalogDiscountModifyTaxBasis:
      type: string
      enum:
        - MODIFY_TAX_BASIS
        - DO_NOT_MODIFY_TAX_BASIS
      x-enum-elements:
        - name: MODIFY_TAX_BASIS
          description: Application of the discount will modify the tax basis.
          x-release-status: PUBLIC
        - name: DO_NOT_MODIFY_TAX_BASIS
          description: Application of the discount will not modify the tax basis.
          x-release-status: PUBLIC
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/enums.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogDiscountModifyTaxBasis
    CatalogIdMapping:
      type: object
      properties:
        client_object_id:
          type: string
          description: The client-supplied temporary `#`-prefixed ID for a new `CatalogObject`.
        object_id:
          type: string
          description: The permanent ID for the CatalogObject created by the server.
      description: |-
        A mapping between a temporary client-supplied ID and a permanent server-generated ID.
        
        When calling [UpsertCatalogObject](api-endpoint:Catalog-UpsertCatalogObject) or
        [BatchUpsertCatalogObjects](api-endpoint:Catalog-BatchUpsertCatalogObjects) to
        create a [CatalogObject](entity:CatalogObject) instance, you can supply
        a temporary ID for the to-be-created object, especially when the object is to be referenced
        elsewhere in the same request body. This temporary ID can be any string unique within
        the call, but must be prefixed by "#".
        
        After the request is submitted and the object created, a permanent server-generated ID is assigned
        to the new object. The permanent ID is unique across the Square catalog.
      x-property-order:
        - client_object_id
        - object_id
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogIdMapping
    CatalogImage:
      type: object
      properties:
        name:
          type: string
          description: |-
            The internal name to identify this image in calls to the Square API.
            This is a searchable attribute for use in applicable query filters
            using the [SearchCatalogObjects](api-endpoint:Catalog-SearchCatalogObjects).
            It is not unique and should not be shown in a buyer facing context.
        url:
          type: string
          description: |-
            The URL of this image, generated by Square after an image is uploaded
            using the [CreateCatalogImage](api-endpoint:Catalog-CreateCatalogImage) endpoint.
            To modify the image, use the UpdateCatalogImage endpoint. Do not change the URL field.
        caption:
          type: string
          description: |-
            A caption that describes what is shown in the image. Displayed in the
            Square Online Store. This is a searchable attribute for use in applicable query filters
            using the [SearchCatalogObjects](api-endpoint:Catalog-SearchCatalogObjects).
        photo_studio_order_id:
          type: string
          description: The immutable order ID for this image object created by the
            Photo Studio service in Square Online Store.
          x-release-status: BETA
      description: |-
        An image file to use in Square catalogs. It can be associated with
        `CatalogItem`, `CatalogItemVariation`, `CatalogCategory`, and `CatalogModifierList` objects.
        Only the images on items and item variations are exposed in Dashboard.
        Only the first image on an item is displayed in Square Point of Sale (SPOS).
        Images on items and variations are displayed through Square Online Store.
        Images on other object types are for use by 3rd party application developers.
      x-property-order:
        - name
        - url
        - caption
        - photo_studio_order_id
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogImage
    CatalogCustomAttributeDefinitionType:
      type: string
      description: Defines the possible types for a custom attribute.
      enum:
        - ATTRIBUTE_TYPE_DO_NOT_USE
        - STRING
        - INTEGER
        - BOOLEAN
        - NUMBER
        - SELECTION
        - STRING_INT
        - TOKEN_INT
      x-enum-elements:
        - name: STRING
          description: A free-form string containing up to 255 characters.
          x-release-status: BETA
        - name: BOOLEAN
          description: A `true` or `false` value.
          x-release-status: BETA
        - name: NUMBER
          description: A decimal string representation of a number. Can support up to
            5 digits after the decimal point.
          x-release-status: BETA
        - name: SELECTION
          description: One or more choices from `allowed_selections`.
          x-release-status: BETA
      x-release-status: BETA
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/resources/datatypes.proto
      x-proto-sha: 32daf8eb9cffd0b4bb203b0088a414a113a5c813
      x-object-name: CatalogCustomAttributeDefinitionType
    CatalogItem:
      type: object
      properties:
        name:
          maxLength: 512
          type: string
          description: The item's name. This is a searchable attribute for use in
            applicable query filters, its value must not be empty, and the length
            is of Unicode code points.
        description:
          maxLength: 4096
          type: string
          description: "The item's description. This is a searchable attribute for\
                \ use in applicable query filters, and its value length is of Unicode\
                \ code points.\n\nDeprecated at 2022-07-20, this field is planned to retire\
                \ in 6 months. You should migrate to use `description_html` to set the\
                \ description \nof the [CatalogItem](entity:CatalogItem) instance.  The\
                \ `description` and `description_html` field values are kept in sync.\
                \ If you try to \nset the both fields, the `description_html` text value\
                \ overwrites the `description` value. Updates in one field are also reflected\
                \ in the other, \nexcept for when you use an early version before Square\
                \ API 2022-07-20 and `description_html` is set to blank, setting the `description`\
                \ value to null \ndoes not nullify `description_html`."
          x-release-status: DEPRECATED
        abbreviation:
          maxLength: 24
          type: string
          description: |-
            The text of the item's display label in the Square Point of Sale app. Only up to the first five characters of the string are used.
            This attribute is searchable, and its value length is of Unicode code points.
        label_color:
          type: string
          description: The color of the item's display label in the Square Point of
            Sale app. This must be a valid hex color code.
        available_online:
          type: boolean
          description: If `true`, the item can be added to shipping orders from the
            merchant's online store.
        available_for_pickup:
          type: boolean
          description: If `true`, the item can be added to pickup orders from the
            merchant's online store.
        available_electronically:
          type: boolean
          description: If `true`, the item can be added to electronically fulfilled
            orders from the merchant's online store.
        category_id:
          type: string
          description: The ID of the item's category, if any.
        tax_ids:
          type: array
          description: |-
            A set of IDs indicating the taxes enabled for
            this item. When updating an item, any taxes listed here will be added to the item.
            Taxes may also be added to or deleted from an item using `UpdateItemTaxes`.
          items:
            type: string
        modifier_list_info:
          type: array
          description: |-
            A set of `CatalogItemModifierListInfo` objects
            representing the modifier lists that apply to this item, along with the overrides and min
[...]
